.float-elem1 {
  float: left;
  width: 32%;
  min-width: 400px;
  overflow-x: auto;
  margin-right: 20px;
}

.float-elem2 {
  float: left;
  width: calc(100% - ( 32% + 20px));
  min-width: 400px;
}

.float-elem3 {
  float: left;
  width: 100%;
}

.float-elem4 {
  float: left;
  width: 32%;
  min-width: 400px;
  overflow-x: auto;
  margin-right: 20px;
}

.float-elem5 {
  float: left;
  width: calc(100% - ( 64% + 40px));
  min-width: 400px;
  margin-right: 20px;
}

.float-elem6 {
  float: left;
  width: 32%;
  min-width: 400px;
  overflow-y: auto;
}

.dashboard-custom-title {
  background-color: white;
  color: rgb(100, 100, 100);
  padding: 10px;
}

div.custom-card-cont {
  background-color: white;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}

button.info-icon {
  min-width: 15px !important;
  vertical-align: inherit !important;
  font-size: 20px !important;
  padding-top: 0px;
  padding-bottom: 0px; 
}

.popover {
  max-width: fit-content !important;
  white-space: nowrap !important;
}

.title-header {
  display: flex;
  justify-content: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.subtitle-header {
  display: flex;
  justify-content: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: -20px;
  padding-bottom: 25px;
}

.table tbody {
  overflow-y: auto;
  height: 300px;
}

.table td, .table th {
  border: none;
}