<!-- <div class="container-fluid"> -->

  <!-- outer container; don't show until data is ready -->
  <div class="dashboard-cont" [hidden]="!showDashboard">

    <!-- 2 inline divs -->
    <div class="d-flex justify-content-between">
      
      <!-- Projects Stats-->
      <div class="custom-card-cont">
        <h5 class="dashboard-custom-title">Project Stats</h5>
        <div class="d-flex justify-content-between">

                <table class="table table-sm mx-3">
                  <thead>
                    <tr>
                      <th colspan="2">Project Owners #</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let owner of ownersCount">
                      <td>{{ owner.name }}</td>
                      <td>{{ owner.y }}</td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-sm mx-3">
                  <thead>
                    <tr>
                      <th colspan="2">Project Priorities #</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let priority of prioritiesCount">
                      <td>{{ priority.name }}</td>
                      <td>{{ priority.y }}</td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-sm mx-3">
                  <thead>
                    <tr>
                      <th colspan="2">Project Statuses #</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let status of statusesCount">
                      <td>{{ status.name }}</td>
                      <td>{{ status.y }}</td>
                    </tr>
                  </tbody>
                </table>

        </div>

      </div>

      <!-- Poject Highcharts -->
      <div class="custom-card-cont" style="min-width: 66%">
        <h5 class="dashboard-custom-title">Project Highcharts</h5>
        <div class="highchart my-fte-pie-chart1" id="priorityFTEChart"></div>
      </div>

    </div>

    <!-- Schedule line -->
    <div class="custom-card-cont">
      <h5 class="dashboard-custom-title">PLC Schedules</h5>
      <div class="highchart my-fte-pie-chart1" id="schedulesChart"></div>
    </div>

    <!-- 3 inline divs -->
    <div class="d-flex justify-content-between">

      <!-- Top FTE -->
      <div class="custom-card-cont">
        <h5 class="dashboard-custom-title">Top FTE Projects</h5>
        <h6 class="dashboard-custom-title">Select a project to display the FTE trend chart</h6>
        
            <table *ngIf="displayTopFTEProjects" class="table table-borderless table-sm table-hover">
              <thead>
                <tr>
                  <th width="30%" scope="col">Project Name</th>
                  <th width="15%" scope="col">Project Type</th>
                  <th width="10%" scope="col">Priority</th>
                  <th width="10%" scope="col">Total FTE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of topFTEProjects; let i = index" (click)="onTopFTEProjectClick(project, i)" [class.table-active]="isProjectSelected[i]">
                  <td>{{ project.ProjectName }}</td>
                  <td>{{ project.ProjectTypeName }}</td>
                  <td>{{ project.PriorityName }}</td>
                  <td>{{ project.TotalProjectFTE }}</td>
                </tr>
              </tbody>
            </table>

      </div>

      <!-- Project FTE Trend -->
      <div class="custom-card-cont">
        <h5 class="dashboard-custom-title">Project FTE Trends</h5>
        <ng-container *ngIf="displayTopFTEProjects && displayProjectFTETrendChart">
          <div class="highchart my-fte-pie-chart1" id="FTEHistory"></div>
        </ng-container>

      </div>

      <!-- Roster -->
      <div class="custom-card-cont">
        <h5 class="dashboard-custom-title">Rosters</h5>

      </div>

    </div>







    
    <!-- Top FTEs Paul's 3rd row-->

    <!-- <div class="card-column"> -->
      <!-- Projects Table -->
      <div class="card">

        <div class="card-header bg-light">
          <h5 class="card-title">Top FTE Projects</h5>
          <h6 class="card-title">Select a project to display the FTE trend chart</h6>
        </div>
        
        <div class="card-body" *ngIf="displayTopFTEProjects">

            <table class="table table-borderless table-sm table-hover">
              <thead>
                <tr>
                  <th width="30%" scope="col">Project Name</th>
                  <th width="15%" scope="col">Project Type</th>
                  <th width="10%" scope="col">Priority</th>
                  <th width="10%" scope="col">Total FTE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of topFTEProjects; let i = index" (click)="onTopFTEProjectClick(project, i)" [class.table-active]="isProjectSelected[i]">
                  <td>{{ project.ProjectName }}</td>
                  <td>{{ project.ProjectTypeName }}</td>
                  <td>{{ project.PriorityName }}</td>
                  <td>{{ project.TotalProjectFTE }}</td>
                </tr>
              </tbody>
            </table>

        </div>

        <div class="card-body" *ngIf="!displayTopFTEProjects">
          <h6>Top FTE Project list is not available for this dataset</h6>
        </div>

      </div>
      <!-- End Project Table -->

      <div class="card-deck">
        <!-- Project Chart -->
        <div class="card">

          <div class="card-header bg-light">
            <h5 class="card-title">Project FTE Trends</h5>
          </div>
          
          <div class="card-body" *ngIf="displayTopFTEProjects && displayProjectFTETrendChart">
            <div class="highchart my-fte-pie-chart1" id="FTEHistory"></div>
          </div>

          <!-- <div class="card-body" *ngIf="!displayTopFTEProjects">
            <h6>The FTE Trend chart will display only if projects exists in the Top FTE Projects</h6>
          </div>

          <div class="card-body" *ngIf="(displayTopFTEProjects || displayProjectFTETrendChart) && (!displayTopFTEProjects || !displayProjectFTETrendChart)">
            <h6>Select a project from the list on the left to display the FTE trend chart</h6>
          </div> -->

        </div>
        <!-- End Project Chart -->
      <!-- </div> -->

        <!-- FTE Roster Table -->
        <div class="card">

          <div class="card-header-light">
            <h5 class="card-title">
              {{ selectedProject ? selectedProject.ProjectName : '--'}} Roster | {{ selectedFiscalDateMonth ? selectedFiscalDateMonth : '--' }}-{{ selectedFiscalDateYear ? selectedFiscalDateYear : '--' }}
            </h5>
          </div> 
          
          <div class="card-body" *ngIf="displayProjectEmployeeList">
              <table class="table table-borderless table-sm">
                  <thead>
                    <tr>
                      <th width="20%" scope="col">Employee Name</th>
                      <th width="40%" scope="col">JobTitle</th>
                      <th width="10%" scope="col">FTE</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let employee of projectEmployeeData">
                    <tr>
                      <td>{{ employee.fullName }}</td>
                      <td>{{ employee.jobTitleName }} - {{ employee.jobSubTitleName }}</td>
                      <td>{{ employee.fte }}%</td>
                    </tr>
                  </tbody>
              </table>
          </div>
          
          <div class="card-body" *ngIf="displayProjectFTETrendChart && displayProjectEmployeeList">
            <h6>Click a point in FTE trend chart</h6>
          </div>

        </div>
        <!-- End FTE Roster Table -->
      </div>

  </div>

<!-- </div> -->