<div class="modal fade modal-custom-position" id="projectAccessConfirmModal" tabindex="-1" role="dialog" aria-labelledby="projectAccessConfirmModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div *ngIf="projectData?.requestStatus==='Request'">
            <h6>Do you want to request access to this project?</h6>
            <h6>An email notification will be sent to the project owner.</h6>
          </div>
          <div *ngIf="projectData?.requestStatus==='Submitted'">
            <h6>Your request is still pending a response.</h6>
            <h6>Do you want to rescind your request?</h6>
          </div>
          <div *ngIf="projectData?.requestStatus==='Denied'">
              <h6>Your request has been denied for the reason below:</h6>
              <h6><i>"{{ projectData?.responseNotes }}"</i></h6>
              <h6>Do you want to make a re-request?</h6>
            </div>
      </div>
      <div class="modal-footer">
          <button *ngIf="projectData?.requestStatus==='Request'" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onProjectAccessClick('Request')" >Request Access</button>
          <button *ngIf="projectData?.requestStatus==='Submitted'" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onProjectAccessClick('Rescind')" >Rescind Request</button>
          <button *ngIf="projectData?.requestStatus==='Denied'" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onProjectAccessClick('Re-request')" >Re-request</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>