<div class="row">
  <div class="col-sm-12">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Level:</th>
          <th>Name:</th>
          <th>Description:</th>
          <th>Commodity:</th>
          <th>New / Leveraged:</th>
          <th>Qty Per:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of bom">
          <td>{{item.Level}}</td>
          <td>{{item.ChildIndentedName}}</td>
          <td>{{item.ChildDescription}}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>{{item.QtyPer}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>