<div class=container>
  <div>
      <h4>Performance Load Testing</h4>
  </div>
  <div>
      Cycles <input type=number [(ngModel)]='cycles' step=10>
      Worker(s) <input type=number [(ngModel)]='threads' step=2>  
  </div>
  <div class=buttons>
          <button class='btn btn-info' (click)='startTest()'>Start</button>
          <button class='btn btn-danger' (click)='resetTest()'>Reset</button>
          <button class='btn btn-primary' (click)='spawnWorkerClick()'>Spawn</button>
  </div>
  
  <div class=results><b>Results:</b></div>
  <div>Starting performance of <b>{{cycles}}</b> cycles with a concurrency of <b>{{threads}}</b> thread(s).</div>
  <div *ngIf=completedCycles>Complete Last Cycle in <b>{{completedCycles}}</b> milliseconds.</div>
  
  <div style="width: 100%; display: table;">
      <div style="display: table-row">
          <div style="width: 600px; display: table-cell;">
                  <canvas baseChart width="600" height="600"
                  [datasets]="singleCycleData"
                  [labels]="singleCycleLabels"
                  [options]="chartOptions"
                  [colors]="chartColors"
                  [legend]="chartLegend"
                  [chartType]="chartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              
  
          </div>
          
          <div style="display: table-cell;">
                  <canvas baseChart width="600" height="600"
                  [datasets]="cycleChartData"
                  [labels]="cycleChartLabels"
                  [options]="chartOptions"
                  [colors]="chartColors"
                  [legend]="chartLegend"
                  [chartType]="chartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
          
          </div>
      </div>
  </div>
  
  