
<div class="container-fluid footer-container">

  <div class="row footer-row">
    <div class="col-md">
      <a href="https://confluence.it.keysight.com/display/JARVIS/Jarvis+Changelog">Jarvis v{{appVersion}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://confluence.it.keysight.com/display/JARVIS/About+Jarvis">About Jarvis</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://confluence.it.keysight.com/display/JARVIS/Jarvis+Knowledgebase">Jarvis Confluence</a>
    </div>
  </div>

  <div class="row footer-row">
    <div class="col-md">
      <p>
        INTRANET - Keysight Restricted<br />
        Information contained herein is considered "Keysight Confidential" and should be handled accordingly
      </p>
    </div>
  </div>

  <div class="row footer-row">
    <div class="col-md">
      <img class="footer-logo-img" src="../assets/JarvisLogoIconOnly.svg">
    </div>
  </div>

</div>  
