<div class="container-fluid">

<div class="row row-custom">
  <div class="col-sm col-custom">

    <button class="btn btn-primary" (click)="onTestFormClick()">Test Form Data</button>
    <button class="btn btn-secondary btn-fte-toolbar" (click)="onSaveClick()">
      <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save
    </button>

  </div>  
</div>

<!-- begin row for FTE entry table -->
<div class="row row-custom">

  <!-- block for FTE entry div table -->
  <div class="col-sm col-custom fte-table-container">
    <form [formGroup]="FTEFormGroup">

      <div class="fte-table" formArrayName="FTEFormArray">

        <div class="fte-table-header">
          <div class="fte-table-row">
            <div class="fte-table-cell icon icon-month-header">&nbsp;</div> <!-- for trash icon -->
            <div class="fte-table-cell row-month-header col-projects-totals">Job Title</div>
            <!-- loop through each employee -->
            <ng-container *ngFor="let employee of employees; let k = index">
              <div class="fte-table-cell row-month-header">{{ employee.fullName }}</div>
            </ng-container>
          </div>
        </div>

        <div class="fte-table-body">
          <!-- loop through each project, one row per project -->
          <ng-container *ngFor="let jobTitle of jobTitleList; let i = index">
            <div class="fte-table-row" [formGroupName]="i">
              <div class="fte-table-cell icon"> <!-- for trash icon -->
                <i class="fa fa-trash-o" (click)="onTrashClick(i)"></i>
              </div>
              <div class="fte-table-cell col-project-name" data-toggle="tooltip" data-placement="top">{{ jobTitle.jobTitleName }} - {{ jobTitle.jobSubTitleName }}</div>
              <!-- loop through each month's FTE allocation, "monthly" cells per project -->
              <ng-container *ngFor="let employee of employees; let j = index">
                <div class="fte-table-cell" [formGroupName]="j">
                  <!-- <input type="text" formControlName="isJobTitle" class="form-control" (change)="onFTEChange(i, isJobTitle, $event.target.value)" > -->
                  <!-- <input type="radio" formControlName="isJobTitle" [attr.name]="'group'+j" [attr.value]="'test'+i" class="form-control" (change)="onFTEChange(i, isJobTitle, $event.target.checked)" > -->
                  <input type="checkbox" formControlName="isJobTitle" value="" class="form-control" (change)="onSelectChange(i, j, $event.target.checked)" >
                  <!-- <input type="radio" [attr.name]="'group'+j" [attr.value]="'test'+j"> -->
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="fte-table-footer">
          <div class="fte-table-row">
          </div>
        </div>

      </div> <!-- end div table -->

    </form>
  </div> <!-- end div that controls entire FTE entry table visibility -->
</div> <!-- end row for FTE entry table -->

</div> <!-- end FTE component container div -->
