

<div class="container-fluid">


  <div class="login-cont">

    <div class="login-cont-inner">

      <div class="form-group form-group-login">

        <label>User Name</label>
        <input #userNameVC [(ngModel)]="userName" type="text" class="form-control login-user-name" (keyup.enter)="onLoginKeyEnter()" appAutofocus>
        
      </div>

      <div class="form-group form-group-login">

        <label>Password</label>
        <input #passwordVC [(ngModel)]="password" type="password" class="form-control password" (keyup.enter)="onLoginClick()">
        
      </div>

      <div class="form-group form-group-login form-group-login-button">

        <button type="button" class="btn btn-primary btn-login" [attr.data-clicktrack]="'page: Login, clickedOn: Login Button, text: ' + userName" (click)="onLoginClick()">Login</button>
        
      </div>

    </div>

    <div class="login-cont-inner-message">

      <table>
        <tr>
          <td>
            <i *ngIf="showMessage" [class]="'fa fa-lg login-message-icon ' + iconClass" [style.color]="iconColor" aria-hidden="true"></i>
          </td>
          <td>
            {{ loginMessage }}
          </td>
        </tr>
      </table>

    </div>


  </div>


</div>