
  h2.view-encap-test {
    font-size: 24px;
    color: darkred;
    font-weight: 500;
  }

  .card-header-custom {
    cursor: pointer;
    font-weight: normal;
    display: flex;
    line-height: 3rem;
    border-bottom-style: solid !important;
    border-bottom: #e6e6e6;
    border-bottom-width: 1px;
  }

  .card-header-custom:hover {
    background-color:rgb(72, 91, 101, 0.1)
  }

  .active div {
    background-color:#485b65;
    color: white;
  }

  .btn-primary {
    color: #fff;
    background-color: rgb(108, 117, 125);;
    border-color: rgb(108, 117, 125);;
  }

  .btn-fte-toolbar {
    width: 90px;
    height: 35px;
  }
  
  .header-project-table {
    padding-top: 10px;
    margin-left: -21px;
    margin-right: -20px;
  }
  
  .fa {
    cursor: pointer;
  }

  .custom-select-project-role {
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .form-group-custom {
    margin-bottom: 0%;
  }






  div.projects-filters-cont {
    margin-bottom: 40px;
    min-width: 850px;
    width: 100%;
    white-space: nowrap;
  }

  div.projects-filter-string {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }

  input.projects-filter-input {
    width: 225px;
    padding-left: 30px;
    padding-right: 30px;
  }

  i.projects-filter-icon-search, i.projects-filter-icon-close {
    position: absolute;
    top: 10px;
    color: grey;
  }
  
  i.projects-filter-icon-search {
    left: 10px;
  }

  i.projects-filter-icon-close {
    right: 10px;
    font-size: 16px;
    cursor: pointer;
  }