
<div class="modal fade" id="teamSelectModal" tabindex="-1" role="dialog" aria-labelledby="projectsCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog team-select-modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="projectsCreateModalLabel">Change Team</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body team-select-modal-body">
        <p>Select a manager from the dropdown to view that team's FTE allocation percentages by Project Type and Project.</p>
        <!-- <p>{{ nestedManagerData[0].fullName }}</p> -->

        <!-- 'dropdown' container to select employee from nested org structure -->
        <div class="form-group form-group-custom">

          <!-- <label class="label-custom">View As:</label> -->
          <div [class]="'org-dropdown-control' + (displayOrgDropDown ? ' highlight' : '')" [ngStyle]="getDropDownStyle()" (click)="onOrgDropDownClick()">
            {{ dropDownDisplayedEmployee }}
            <!-- dropdown caret -->
            <i class="fa fa-caret-down org-dropdown-control-caret"></i>
            <!-- spinner to display while waiting for data to arrive -->
            <!-- <div class="orgdata-spinner-cont" [style.visibility]="waitingForOrgData ? 'visible' : 'hidden'">
              <div class="orgdata-spinner"></div>
            </div> -->
          </div>
  
          <div *ngIf="displayOrgDropDown" class="org-dropdown-cont" (scroll)="onScroll($event)" (appClickOutside)="onClickOutside($event)" [exception]="'div.org-dropdown-control'">
            <div class="org-dropdown-cont-inner">
              <app-team-select-dropdown [employees]="nestedOrgData" (clickedEmployeeIcon)="onclickedEmployeeIcon($event)" (clickedEmployee)="onclickedEmployee($event)"></app-team-select-dropdown>
            </div>
          </div>
  
        </div>

      </div>

      

      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-fte-toolbar" (click)="onSelectClick()">   
          <i class="fa fa-check select-icon"></i>Select
        </button>
        <button type="button" class="btn btn-secondary btn-fte-toolbar" (click)="onCancelClick()">
          <i class="fa fa-ban cancel-icon" aria-hidden="true"></i>Cancel
        </button>
      </div>

      <!-- data-dismiss="modal" -->
    </div>
  </div>

</div>
  