
.fte-table-row {
    width:80px;
  }
  
  .top-margin {
    margin-top: 50px;
  }
  
  .table-scrollable {
    height:120px;
    overflow:scroll;
  }

.test-buttons {
  margin-top: 50px;
  text-align: center;
}