
<div class="modal fade" id="confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-cont">
          <i [class]="'modal-header-icon fa fa-2x ' + modal?.iconClass" [style.color]="modal?.iconColor"></i>
          <h5 class="modal-header-title" id="exampleModalLabel">{{ modal?.title }}</h5>
          <button type="button" class="modal-header-button close" data-dismiss="modal" aria-label="Close" (click)="onCancelButtonClick()">
              <span aria-hidden="true" id="no">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        {{ modal?.message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="yes" data-dismiss="modal" (click)="onYesButtonClick()">Yes</button>
        <button type="button" class="btn btn-secondary" id="no" data-dismiss="modal" (click)="onCancelButtonClick()">Cancel</button>
      </div>
    </div>
  </div>
</div>