<div class="container">
<div class="left-sie">

    <div class="form-inline">
      <button class="btn btn-warning btn-sm" (click)="onDisplayClick()">Show</button>
       <input [(ngModel)]="employeeEmail" type="text" autocomplete="off" class="form-control input-email"  placeholder="Enter Email Address">
     </div> 

    <div>
      <app-org [employees]="employeeList" (nodeFullName) = "nodeFullNameClick($event)"></app-org>
    </div>

 </div>

<div class="right-side">
 <!-- <app-fte-entry></app-fte-entry> -->
</div>
</div>
  










































