<div class="container-fluid">

    <div class="form-inline">
      <button class="btn btn-warning btn-sm" (click)="onDisplayClick()">Show</button>
       <input [(ngModel)]="employeeEmail" type="text" autocomplete="off" class="form-control"  placeholder="Enter Email Address">
     </div>
  
    <div class="form-inline">
        
        <!-- <input [(ngModel)]="employeeFullName" type="text" autocomplete="off" class="form-control"  (keyup)="onTestKeyUp($event)" placeholder="Expand-Collapse by Name"> -->
    </div>

  
  <div class="org-cont">
    <app-org [employees]="employeeList" (nodeFullName) = "nodeFullName($event)"></app-org>
  </div>
  
</div>
<!-- <button class="btn btn-primary btn-sm" (click)="onExpandCollapse()">Toggle</button> -->
<!-- <button class="btn btn-warning btn-sm" (click)="onTestManagerNameClick()">Manager Name</button>  -->
<!-- <button class="btn btn-primary" (click)="onTestFactorialClick()">Factorial</button> -->
<!-- <button class="btn btn-primary" (click)="onTestMaxLevelClick()">Max Level</button> -->
<!-- <button class="btn btn-primary" (click)="onTestNumEmployeesClick()">Num Employees</button> -->
<!-- <button class="btn btn-primary" (click)="onTestNumEmployeesAllClick()">Num Employees All</button> -->
<!-- <button class="btn btn-primary" (click)="onTestClick($event)" (mousedown)="onTestMouseDown($event)" (mouseup)="onTestMouseUp($event); $event.stopPropagation()">Click Events</button> -->
<!-- <button class="btn btn-primary" (click)="onTestFlatToNested()">Flat to Nested</button> -->
<!-- <button class="btn btn-primary" (click)="onTestSubOrganization()">Sub Org</button> -->





































