<div class="projects-modal-outer-cont" [@modalStateOuter]="outerDivState">
  <div class="projects-modal-inner-cont" [@modalStateInner]="innerDivState">
    <div class="projects-modal-body">

      <div class="projects-filter-cont">

        <div class="projects-modal-filter">
          <input type="text" [(ngModel)]="filterString" class="form-control projects-filter-input" placeholder="filter" appAutofocus>
        </div>

        <div class="projects-pagination" *ngIf="paginationLinks.length > 1">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="onPaginationArrowClick('left')">
                <span>&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let link of paginationLinks; let i=index">
              <a [class]="'page-link' + (i === selectedPage ? ' active' : '')" [attr.data-link]="link" (click)="onPaginationLinkClick(link)">{{ link }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="onPaginationArrowClick('right')">
                <span>&raquo;</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="projects-modal-close" (click)="onCancelClicked()">
            <i class="nc-icon nc-circle-remove projects-modal-close-button"></i>
          </div>

      </div>

      

      <div class="project-table-cont" (scroll)="onScroll()">   
        
        <app-projects-info-modal [style.display]="showInfoModal ? 'inline' : 'none'" [project]="clickedProjectForInfoModal" (close)="onProjectsInfoModalCloseClick()"></app-projects-info-modal>
        <app-projects-roster-modal [style.display]="showRosterModal ? 'inline' : 'none'" [selectedProject]="clickedProjectForRosterModal" (close)="onProjectsRosterModalCloseClick()"></app-projects-roster-modal>

        <div class="cards-cont">
          
          <div class="card" *ngFor="let project of projects | filter :filterString:'ProjectName':{limitTo: numProjectsToDisplay, matchOptimistic: true, paginationFilter: paginateFilter}">
            <div class="card-header-cont">
                <div class="card-header-img" *ngIf="project.avatar">
                  <img class="card-project-avatar" [src]="project.avatar" alt="">
                </div>
              <div class="card-header-text">
                {{ project.ProjectName }}
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ project.ProjectTypeName }}</h5>
              <p class="card-text">{{ project.Description }}</p>
            </div>
            <div class="card-buttons">
              <div class="card-button info" [attr.data-id]="project.ProjectID" (mouseenter)="onCardButtonMouseEnter('Project Info', 'info', project.ProjectID)" (click)="onProjectInfoClick($event.target)">
                <i class="fa fa-info" aria-hidden="true"></i>
              </div>
              <div class="card-button roster" [attr.data-id]="project.ProjectID" (mouseenter)="onCardButtonMouseEnter('Project Roster', 'roster', project.ProjectID)" (click)="onProjectRosterClick($event.target)">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              </div>
              <div class="card-button" data-toggle="tooltip" data-placement="right" title="Something Else">
                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-success project-select-button" (click)="onSelectedProject(project)">Select</button>
            </div>
          </div>

        </div>

      </div>

  
    </div>
  </div>
</div>

