
/* TO-DO: maybe change custom to jarvis or standard, because it is the default for us, not custom */
/* how to organize css files better */

/* customized bootstrap fluid container (to accomodate navbar and sidebar) */
.container-fluid {
  margin: 115px 75px 150px 255px;
  padding: 0;
  width: unset;
}

/* customized bootstrap row */
.row.row-custom {
  margin-left: 0;
  margin-right: 0;
}

.row.row-custom:not(:last-child) {
  margin-bottom: 25px;
}

/* customized bootstrap column */
div.col-custom {
  padding: 0;
  width: 100%;
}

/* customized boostrap form group */
div.form-group.form-group-custom {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 0;
  width: 200px;
}

/* customized bootstrap label */
label.label-custom {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input.form-control {
  height:35px;
}

input.form-control[disabled], select.form-control[disabled], textarea.form-control[disabled] {
  cursor: default;
  background-color: rgb(230, 230, 230);
}

input.form-control.form-control-custom, select.form-control.form-control-custom {
  width: 100%;
}

/* puts the 'x' to clear at the end of all "search"-type input HTML elements */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/* custom disabled controls (lighter background color) */
input.form-control.form-control-custom[disabled], select.form-control.form-control-custom[disabled], textarea.form-control.form-control-custom[disabled] {
  cursor: default;
  background-color: rgb(253, 253, 253);
}

/* revert to bootstrap 3 focused control outline style */
input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
  /* bootstrap 3 blue shadow color: rgb(102, 175, 233); */
  border-color: rgb(163, 197, 255);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(163, 197, 255, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(163, 197, 255, .6);
}




/* standardized page header css */
/* h2.page-header-text {
  font-size: 30px;
  font-weight: 600;
  margin-top: -30px;
  color: darkred;
} */

h2.page-header-text {
  font-size: 24px;
}


/* standardized loading spinner */

div.loading-spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: loading-spin 0.75s linear infinite;
}

@keyframes loading-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* standardized chart date-switcher css */
div.chart-date-switcher {
  position: absolute;
  top: 14px;
  left: 30px;
  z-index: 1;
}

label.chart-date-switcher-label {
  margin-right: 10px;
}

select.form-control.date-switcher-selector{
  max-height: 30px;
  font-size: 13px;
  padding-left: 4px;
  padding-top: 4px;
}



/* standard/default button classes, alternative to bootstrap */

button.btn-standard {
  display: inline-block;
  min-width: 90px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 12px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button.btn-standard {
  min-width: 90px;
  font-size: 15px;
  color: rgb(50, 50, 50);
  background-color: rgb(221, 223, 226);
  border: 1px solid rgb(201, 203, 206);
}

button.btn-standard:focus, button.btn-standard:active, button.btn-standard:visited {
  outline: none;
}

button.btn-standard:hover {
  background-color: rgb(211, 213, 216);
  border: 1px solid rgb(191, 193, 196);
  cursor: pointer;
}

button.btn-standard.hover-green:hover {
  background-color: rgb(219, 255, 219);
  border: 1px solid rgb(199, 235, 199);
}

button.btn-standard.hover-blue:hover {
  background-color: rgb(219, 240, 255);
  border: 1px solid rgb(199, 220, 235);
}

button.btn-standard.hover-red:hover {
  background-color: rgb(255, 219, 219);
  border: 1px solid rgb(235, 199, 199);
}

button.btn-standard.icon-text-only {
  background-color: transparent;
  border: none;
  color: rgb(100, 100, 100);
}

button.btn-standard.icon-text-only:hover {
  cursor: pointer;
  color: rgb(50, 50, 50);
}

button.btn-standard.icon-text-only.hover-green:hover {
  background-color: transparent;
  border: none;
  color: rgb(33, 115, 70);
}

i.button-icon {
  margin-right: 5px;
}