



/* customized bootstrap fluid container (to accomodate navbar and sidebar) */
.container-fluid {
  margin: 125px 100px 100px 250px;
  padding: 0;
  width: unset;
}

/* customized bootstrap row */
.row.row-custom {
  margin-left: 0;
  margin-right: 0;
}

.row.row-custom:not(:last-child) {
  margin-bottom: 25px;
}

/* customized bootstrap column */
div.col-custom {
  padding: 0;
  width: 100%;
}

/* customized boostrap form group */
div.form-group.form-group-custom {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 0;
  width: 200px;
}

/* customized bootstrap label */
label.label-custom {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input.form-control {
  height:35px;
}

input.form-control[disabled], select.form-control[disabled], textarea.form-control[disabled] {
  cursor: default;
  background-color: rgb(230, 230, 230);
}

input.form-control.form-control-custom, select.form-control.form-control-custom {
  width: 100%;
}


/* custom disabled controls (lighter background color) */
input.form-control.form-control-custom[disabled], select.form-control.form-control-custom[disabled], textarea.form-control.form-control-custom[disabled] {
  cursor: default;
  background-color: rgb(253, 253, 253);
}

input.form-control:focus {
  /* bootstrap 3 blue shadow color: rgb(102, 175, 233); */
  border-color: rgb(163, 197, 255);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(163, 197, 255, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(163, 197, 255, .6);
}




/* standardized page header css */
/* h2.page-header-text {
  font-size: 30px;
  font-weight: 600;
  margin-top: -30px;
  color: darkred;
} */

h2.page-header-text {
  font-size: 24px;
  font-weight: 600;
  background-color: white;
  padding: 10px 20px;
  /* border: 1px solid grey; */
  box-shadow: 0 2px 2px 0px rgba(33, 33, 33, 0.28);
}


/* standardized loading spinner */

div.loading-spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: loading-spin 0.75s linear infinite;
}

@keyframes loading-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* standardized chart date-switcher css */
div.chart-date-switcher {
  position: absolute;
  top: 14px;
  left: 30px;
  z-index: 1;
}

label.chart-date-switcher-label {
  margin-right: 10px;
}

select.form-control.date-switcher-selector{
  max-height: 30px;
  font-size: 13px;
  padding-left: 4px;
  padding-top: 4px;
}