

/* customized bootstrap fluid container (to accomodate navbar and sidebar) */
.container-fluid {
  margin: 125px 100px 100px 250px;
  padding: 0;
  width: unset;
}

/* customized bootstrap row */
.row.row-custom {
  margin-left: 0;
  margin-right: 0;
}

.row.row-custom:not(:last-child) {
  margin-bottom: 25px;
}

/* customized bootstrap column */
div.col-custom {
  padding: 0;
}

/* customized boostrap form group */
div.form-group.form-group-custom {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 0;
  width: 200px;
}

/* customized bootstrap label */
label.label-custom {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input.form-control {
  height:35px;
}

input.form-control[disabled], select.form-control[disabled], textarea.form-control[disabled] {
  cursor: default;
  background-color: rgb(230, 230, 230);
}

input.form-control.form-control-custom, select.form-control.form-control-custom {
  width: 100%;
}


/* custom disabled controls (lighter background color) */
input.form-control.form-control-custom[disabled], select.form-control.form-control-custom[disabled], textarea.form-control.form-control-custom[disabled] {
  cursor: default;
  background-color: rgb(253, 253, 253);
}

input.form-control:focus {
  /* bootstrap 3 blue shadow color: rgb(102, 175, 233); */
  border-color: rgb(163, 197, 255);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(163, 197, 255, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(163, 197, 255, .6);
}




/* standardized page header css */
h2.page-header-text {
  font-size: 30px;
  font-weight: 600;
  margin-top: -30px;
}

div.col-text-header {
  border-bottom: 1px solid #dee2e6
}
