/* overriding the treant collapse-switch CSS classes */

.Treant .collapse-switch {
  width: 100%;
  height: 100%;
  border: none;
}

.Treant .collapsed .collapse-switch {
  background-color: unset;
}


/* overriding the Treant node css classes */
.Treant .node {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-width: 90px;
  padding: 1px;
  text-align: left;
  background-color: #FFFFFF;
  border: 1px solid;
  border-radius: 4px;
  font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.Treant .node.collapsed {
  background-color: #9B9B9B99;
}

.Treant .node p.node-name {
  margin-top: unset;
  margin-bottom: unset;
  font-weight: bold;
}

.Treant .node p.node-title {
  margin-top: unset;
  margin-bottom: unset;
  font-style: italic;
}

.Treant .node p.node-desc {
  margin-top: unset;
  margin-bottom: unset;
}


/* css classes for part-department coloration */
.node.HFTC {
  background-color: #c2b1ff;
}

.node.PMTC {
  background-color: #67c44b;
}

.node.PICO {
  background-color: #fc8c60;
}

.node.ThinFilm {
  background-color: #ffaae6;
}

.node.EXT {
  background-color: #24CBE5;
}

.node.NPSS {
  background-color: #ffe881;
}

.legend {
  padding: 2px 6px 2px 6px;
}