  .card-header-custom {
    cursor: pointer;
    font-weight: normal;
    display: flex;
    line-height: 3rem;
    border-bottom-style: solid !important;
    border-bottom: #e6e6e6;
    border-bottom-width: 1px;
  }

  .card-header-custom:hover {
    background-color:rgb(72, 91, 101, 0.1)
  }

  .active div {
    background-color:#485b65;
    color: white;
  }

  .btn-primary {
    color: #fff;
    background-color: rgb(108, 117, 125);;
    border-color: rgb(108, 117, 125);;
  }

  .btn-fte-toolbar {
    width: 90px;
    height: 35px;
  }
  
  .header-project-table {
    padding-top: 10px;
    margin-left: -21px;
    margin-right: -20px;
  }
  