  /* div.col-custom.table-scrollable {
    max-height: 397px;
    overflow: scroll;
    padding: 10px 14px;
  }

  .project-buttons {
    margin-top: 50px;
    text-align: center;
  } */
  
  /* div.projectListCard {
    cursor: pointer;
  } */

  h6.mb-0 {
    cursor: pointer;
  }

  div.projectsHeader {
    background-color:rgb(72, 91, 101, 0.1)
  }