<div class="container-fluid">

  <div class="jumbotron">
    <!-- Jobtitle Fuzzy Search Bar -->
    <div class="input-group">
      <input class="searchInput" type="text" maxlength="500"  [(ngModel)]="searchProjects" (change)="onSearchInputChange($event)" placeholder="Search Projects">
      <div class="input-group-append">
        <button [disabled]="!searchProjects.trim()" class="btn btn-primary btn-fte-toolbar" (click)="onCreateProjectClick()" style="display: block">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;New
        </button>       
      </div>
    </div>
  </div>

  <div class="row">  
    <div class="col-2.3">
        <table class="table table-wrapper-scroll-y" *ngIf="(projectList | filter : searchProjects : 'ProjectName':{limitTo: -1, matchOptimistic: true}) as filteredProjectList">
            <thead>
                <tr>
                  <th class="th-sm" (click)="orderByType(true)">Type
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    </th>
                    <th class="th-sm" (click)="orderByType(false)">Name
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    </th>                   
                  </tr>
              </thead>
          <tbody>
          <tr  *ngFor="let project of filteredProjectList" (click)="$event.stopPropagation();onProjectClick(project)">
                   
            <td>  
                <div class="project-card">  
                <div class="project-type-cont" [ngStyle]="{ 'color': setProjctTypeColor(project.ProjectTypeName) }">
                  <!-- project type name text -->
                  <div class="project-type-name"> 
                    {{ project.ProjectTypeName }}
                  </div>      
                  <!-- project type icon -->
                  <div class="project-type-icon"> 
                    <i [ngClass]="setProjctTypeIconClass(project.ProjectTypeName)"></i>
                  </div>                  
                </div> 
                </div>
              </td>
              <td>                   
                <div class=project-name>
                    <div class="project-details-cont">
                     {{ project.ProjectName.substring(0, 30)  }} 
                  </div>
                </div>                    
              </td>                     
             
          </tr>
        </tbody>
        </table>
      </div>
    <div class="col-5">
      <div class="card" *ngIf="showProjectCard">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
                <form [formGroup] = 'form'>
                  <input type=text readonly=true formControlName="projectName" class="form-control">
                </form>            
            </div>
            <div class="col-4 text-right">  
               <button *ngIf=project class="btn btn-primary btn-fte-toolbar" (click)="onDeleteProjectClick(project)">
                  <i class="fa fa-trash-o fa-lg" ></i>&nbsp;&nbsp;Delete
               </button>
               <button class="btn btn-primary btn-fte-toolbar" (click)="onSaveProjectClick()">
                  <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save
                </button>        
            </div>
          </div>
        </div>
        <form [formGroup] = 'form'>
          <div class="card-body">
           <table class="table table-bordered">            
             <tr>
                <td>Description</td>
                <td colspan="3"><input type=text class="form-control" formControlName="description"></td>             
              </tr>
              <tr>
                <td>Active</td>
                <td><input type="checkbox" formControlName="active"></td>
                <td>POR</td>
                <td><input type="checkbox" formControlName="planOfRecord"></td>               
              </tr>
              <tr>
                  <td>Project Number</td>
                  <td><input type="text" class="form-control" formControlName="projectNumber"></td>
                  <td>Priority</td>
                  <td><select class="form-control" formControlName="priorityID"><option class="dropdown-item" *ngFor="let item of priorityChoices" [value]= "item.PriorityID">
                      {{item.PriorityName}}
                    </option></select></td>                 
                </tr>
              <tr>
                  <td>MU</td>
                  <td><input type=text maxlength="20" class="form-control" formControlName="mu"></td>
                  <td>Project Type</td>
                  <td><select class="form-control" formControlName="projectTypeID"><option class="dropdown-item" *ngFor="let item of projectTypeChoices" [value]= "item.id">
                    {{item.projectTypeName}}
                  </option></select></td>
                </tr>
                <tr>
                    <td>IBO</td>
                    <td><input type=text maxlength="20" class="form-control" formControlName="ibo"></td>
                    <td>Department</td>
                  <td><select class="form-control" formControlName="departmentID"><option class="dropdown-item" *ngFor="let item of departmentChoices" [value]= "item.DepartmentID">
                    {{item.Department}}
                  </option></select></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Groups</td>
                    <td><select class="form-control" formControlName="groupID"><option class="dropdown-item" *ngFor="let item of groupChoices" [value]= "item.GroupID">
                      {{item.GroupName}}
                    </option></select></td>                
                    </tr>
                  <tr>
                      <td>Notes</td>
                      <td colspan="3" rowspan="2"><textarea  class="form-control" formControlName="notes"></textarea></td>                     
                   </tr>
                   <tr></tr>             
  
             </table>
          </div>
        </form>
      </div>
    </div>

    <div class="col-4">
      <div class="card" *ngIf="showScheduleCard">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
                <table>
                   <tr><td> <h6>Schedule Revision</h6></td></tr> 
                    <tr><td><span class=revision *ngIf='schedule'>[ {{ schedule[0].CurrentRevision }} ]</span> </td></tr>
                  </table>    
                      
            </div>
            <div class="col-7">
              <table>
                <td> <h6>* Revision Notes</h6></td>
                <td><input type=text class=form-control maxlength="500" [(ngModel)]="revisionNotes"></td>
              </table>                      
            </div>
           
            <div class="col-2 text-right">
              <button [disabled]="!revisionNotes" class="btn btn-primary btn-fte-toolbar" (click)="onSaveSchedule()">
                <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save
              </button>              
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <th>PLC Status</th>
              <th>PLC Date</th>             
              <th>Notes</th>
              <th>Del</th>
            </thead>
         
            <tbody *ngFor="let sched of schedule">                  
              <td><select [(ngModel)]="sched.PLCStatusID" class=form-control><option *ngFor="let item of plcStatusChoices" [value]= "item.PLCStatusID">
                {{item.PLCStatusName}}
              </option></select></td>
              <td><input [(ngModel)]="sched.PLCDate" type=date class=form-control ></td>      
              <td><input [(ngModel)]="sched.Notes" maxlength="500" type=text class=form-control></td>
              <td><input type="checkbox" [(ngModel)]="sched.DeleteRow"></td>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                    <button 
                    class="btn btn-primary btn-fte-toolbar" (click)="onAddScheduleRow()" 
                     style="display: block">+</button> 
                </td>
              </tr>
           </tfoot>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>

