  .card-header {
    cursor: pointer;
    font-weight: normal;
  }

  div.projectsHeader {
    background-color:rgb(72, 91, 101, 0.1)
  }

  .test-buttons {
    margin-top: 50px;
    /* text-align: center; */
  }
  .btn-primary {
    color: #fff;
    background-color: rgb(108, 117, 125);;
    border-color: rgb(108, 117, 125);;
  }

  .divider {
    color: black;
  }

  .card-header {
    background-color: white;
  }

  .card-body:hover {
    background: white;
  }
