<app-projects-edit-modal *ngIf="showProjectsEditModal" [projectData]="projectData" [projectAccessRequestsList]="projectAccessRequestsList" (updateSuccess)="onUpdateSuccess()" (deleteSuccess)="onDeleteSuccess()"></app-projects-edit-modal>
<app-projects-create-modal *ngIf="showProjectsCreateModal" (createSuccess)="onCreateSuccess()"></app-projects-create-modal>

<div class="container-fluid">
    <!-- HEADER -->
  <div class="row row-custom">
    <div class="col-xs-12 col-custom">
      <h1 class="page-header-text">
        My Projects List
      </h1>
    </div>
  </div>
  
  <!-- Request Alerts -->
  <table class="table" width="50%">
    <ng-container *ngFor="let request of projectAccessRequestsList">
      <tr>
        <td class="align-middle" width="25%">
          {{ request['user.fullName'] }} has requested access to {{ request['project.projectName'] }}
        </td>
        <td>
          <button type="button" class="btn btn-outline-success btn-sm" (click)="requestResponse(request, 'Approved')">Approve</button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="requestResponse(request, 'Denied')">Deny</button>
        </td>
      </tr>
    </ng-container>
  </table>
  <!--  -->

  <button class="btn btn-outline-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Create new project">
      <i class="fa fa-plus" data-toggle="modal" data-target="#projectsCreateModal" (click)="createProject()"></i>
  </button>

  <!-- ACCORDION START -->
  <div class="accordion" id="accordionProjectList">
    <div class="card">
      <div class="col-xs-6">
      <table class="table table-hover"> <!-- table-bordered -->

        <!-- PROJECT HEADER START -->    
        <thead>
          <tr>
            <th width="30%" scope="col">Project Name</th>
            <th width="10%" scope="col">Project Type</th>
            <th width="30%"scope="col">Description</th>
            <th width="30%"scope="col">Notes</th>
          </tr>
        </thead>
        <!-- PROJECT HEADER END -->
        
        <tbody *ngFor="let project of projectList; let k = index">

        <!-- PROJECT LIST START -->
          <tr class="card-header" [attr.id]="k" data-toggle="collapse" [attr.data-target]="'#collapse'+ k" aria-expanded="false" (click)="onCollapseClick(project)">
            <td>{{ (project['projectName'].length > 70) ? (project['projectName'] | slice:0:67) + '...' : (project['projectName']) }}</td>
            <td>{{ project['projectType.projectTypeName'] }}</td>
            <td *ngIf="!project.description">{{ project['description'] }}</td>
            <td *ngIf="project.description">{{ (project['description'].length > 56) ? (project['description'] | slice:0:56) + '...' : (project['description']) }}</td>
            <td *ngIf="!project.notes">{{ project['notes'] }}</td>
            <td *ngIf="project.notes">{{ (project['notes'].length > 56) ? (project['notes'] | slice:0:56) + '...' : (project['notes']) }}</td>
            <!-- Edit Button -->
            <td class="edit" (click)="collapseToggle()">
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" data-toggle="modal" data-target="#projectsEditModal" (click)="selectProject(project)"></i>
            </td>
          </tr>
        <!-- PROJECT LIST END -->

        <!-- COLLAPSABLE CARD-BODY START-->
        <ng-container *ngIf="collapseOpen">
          <tr id="collapse{{k}}" class="collapse" [attr.aria-labelledby]="k" data-parent="#accordionProjectList">
            <td class="card-body align-middle" colspan="5">
              <div class="card-deck">

                <div class="card border-0 mb-3">
                  <div class="card-body border-right">
                    <h5 class="card-title">Basic Info</h5>
                    <table class="table table-sm">
                        <tbody>
                          <tr *ngFor="let rows of cardNPI">
                            <td>{{ rows.title }}</td>
                            <td>{{ rows.value }}</td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>

                <div class="card border-top-0 mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Project Team</h5>
                    <table class="table table-sm">
                      <tbody>
                        <tr>
                          <td>Tawanchai Schmitz</td>
                          <td>Applications Engineer</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="card border-0 mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Action Items</h5>
                      <ng-container *ngFor="let request of projectAccessRequestsList">
                        <ng-container *ngIf="request['project.projectName']===project.projectName">
                          <p class="card-text">
                            {{ request['user.fullName'] }} has requested access to your project {{ request['project.projectName'] }}
                          </p>  
                          <button type="button" class="btn btn-outline-success" (click)="requestResponse(request, 'Approved')">Approve</button>
                          <button type="button" class="btn btn-outline-secondary" (click)="requestResponse(request, 'Denied')">Deny</button>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>

              </div>
            </td>
          </tr>
        </ng-container>
        <!-- COLLAPSABLE CARD-BODY END -->

        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>