<div class="container-fluid">

  <div class="jumbotron">
    <!-- Jobtitle Fuzzy Search Bar -->
    <div class="input-group">
      <input type="text" [(ngModel)]="searchProjects" placeholder="Search Projects">
      <div class="input-group-append">
        <button class="btn btn-primary btn-fte-toolbar" style="display: block" data-toggle="modal" data-target="#createNewProject">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;New
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <!-- <div class="card"> -->
        <!-- table headers start -->
        <!-- <div class="card-header">
            <div class="row header-project-table">
              <div class="col-2">
                <div><h6>Name</h6></div>
              </div>
              <div class="col-2">
                <div><h6>Project Type</h6></div>
              </div>
              <div class="col-4">
                <div><h6>Description</h6></div>
              </div>
              <div class="col-3">
                <div><h6>Status</h6></div>
              </div>
              <div class="col-1">
                <div class="row">
                  <div class="col-6">
                    <div><h6></h6></div>
                  </div>
                  <div class="col-6">
                    <div><h6></h6></div>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
        <!-- table headers end -->

        <!-- ACCORDION START -->
        <!-- <div class="accordion" id="accordionProjectList"> -->
          <ng-container *ngIf="(projectSchedulesList | filter : searchProjects : 'projectName':{limitTo: -1, matchFuzzy: true}) as filteredProjectList">
            <ul class="list-group list-group-flush" *ngFor="let project of filteredProjectList | slice:0:10; let i=index">
              <button class="list-group-item list-group-item-action" (click)="onProjectClick(project)">
                {{ project.projectName }}<span *ngIf="project.projectTypeName"> - {{project.projectTypeName}}</span>
              </button>
            </ul>
          </ng-container>
        <!-- </div> -->
        <!-- ACCORDION END -->
        
      <!-- </div>  -->
    </div>

    <div class="col-5">
      <div class="card" *ngIf="showProjectCard">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h6>{{ project.projectName }}</h6>
            </div>
            <div class="col-3 text-right">
              <button class="btn btn-primary btn-fte-toolbar">
                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" data-toggle="modal" data-target="#projectEditModal"></i>&nbsp;&nbsp;Edit
              </button>
              <button class="btn btn-primary btn-fte-toolbar">
                <i class="fa fa-trash-o fa-lg" data-toggle="modal" data-target="#deleteModal" (click)="onDeleteProjectClick(project)"></i>&nbsp;&nbsp;Delete
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5></h5>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="card" *ngIf="showProjectCard">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h6>PLC Schedule</h6>
            </div>
            <div class="col-3 text-right">
              <button class="btn btn-primary btn-fte-toolbar">
                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" data-toggle="modal" data-target="#projectEditModal"></i>&nbsp;&nbsp;Edit
              </button>
              <button class="btn btn-primary btn-fte-toolbar">
                <i class="fa fa-trash-o fa-lg" data-toggle="modal" data-target="#deleteModal" (click)="onDeleteProjectClick(project)"></i>&nbsp;&nbsp;Delete
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover table-light">
            <thead>
              <th>PLC Status</th>
              <th>Date</th>
              <th>Approved</th>
            </thead>
            <tbody>
              <td>{{ project.plcStatusName }}</td>
              <td>{{ project.plcDate}}</td>
              <td>NA</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>

