
<header>

  <div class="nav-bar">

    <div [attr.data-clicktrack]="'page: Main, clickedOn: Jaris Logo'" class="app-ident" (click)="onAppClick()">

      <div class="app-logo-cont">
        <img class="app-logo-img" src="../assets/jarvis_logos/jarvis_logo_topnav.svg">
      </div>

      <div class="app-title-cont">
        <h3 class="app-sub-title">Resources</h3>
      </div>

    </div>


    <div class="app-menu">

      <div class="topnav-menu app-menu-dropdown" [attr.data-clicktrack]="'page: Main, clickedOn: User Avatar'" (click)="onAvatarClick()">
        <div class="topnav-menu app-menu-text">{{ firstInitial }}</div>
      </div>
      
      
      <div *ngIf="showDropDown" [@conditionState]="state" class="topnav-menu app-menu-dropdown-cont" (appClickOutside)="onClickOutside($event)" [exception]="'div.topnav-menu.app-menu-dropdown'">
        <div class="topnav-menu app-menu-dropdown-name">
          {{ loggedInUser?.fullName }}
        </div>
        <div class="topnav-menu app-menu-dropdown-email">
          {{ loggedInUser?.email }}
        </div>
        <div>
          <button type="button" class="topnav-menu app-menu-dropdown-button profile" data-toggle="modal" data-target="#profileModal" data-clicktrack="page: Main, clickedOn: Profile Button" (click)="onProfileButtonClick()">Profile</button>
          <button type="button" class="topnav-menu app-menu-dropdown-button logout" data-clicktrack="page: Main, clickedOn: Logout Button" (click)="onLogoutButtonClick()">Logout</button>
        </div>
        <div class="topnav-menu dropdown-triangle"></div>
        <div class="topnav-menu dropdown-triangle-bottom"></div>
      </div>
      
    </div>

    
  </div>

</header>

<app-profile-modal></app-profile-modal>