

/* navbar container */

.nav-bar {
  background-color: rgb(72, 91, 101);
  box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  padding: 0 80px;
}

/* left container with logo and title */

.app-ident {
  cursor: pointer;
  /* margin-left: 80px */
}

.app-logo-cont {
  float: left;
  line-height: 65px;
}

/* .app-logo {
  width: 32px;
  top: 3px;
  position: relative;
} */

.app-logo-img {
  height: 40px;
  width: 40px;
}

.app-title-cont {
  float: left;
}

.app-title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: white;
  display: inline;
  padding-left: 15px;
  line-height: 65px;
}

.app-sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fde772;
  display: inline;
  padding-left: 5px;
  line-height: 65px;
}



/* right container with avatar logo */

.app-menu {
  float: right;
}

div.app-menu-dropdown {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: rgb(33, 46, 53);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 80px;
  margin: auto 0;
  cursor: pointer;
}

div.app-menu-text {
  color: white;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}


/* dropdown (profile, logout) container */

.app-menu-dropdown-cont {
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  position: relative;
  top: 57px;
  z-index: 3;
  background-color: white;
  text-align: left;
  opacity: 1;
  width: 100%;
  height: 115px;
  padding: 15px 20px;
}

.app-menu-dropdown-name {
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.app-menu-dropdown-email {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}

button.app-menu-dropdown-button.profile {
  float: left;
}

button.app-menu-dropdown-button.logout {
  float: right;
}

button.app-menu-dropdown-button {
  background-color: rgb(248, 248, 248);
  border: 1px solid lightgrey;
  padding: 5px 10px;
  font-family: arial, sans-serif;
  font-size: 13px;
}

button.app-menu-dropdown-button:hover {
  background-color: rgb(240, 240, 240);
}

button.app-menu-dropdown-button:focus {
  outline: 0;
}

.dropdown-triangle {
  position: absolute;
  top: -6px;
  right: 7px;
  width: 16px;
  height: 16px;
  background-color: white;
  z-index: 3;
  transform: rotate(45deg);
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

.dropdown-triangle-bottom {
  position: absolute;
  top: 0px;
  right: 2px;
  width: 26px;
  height: 16px;
  background-color: white;
  z-index: 3;
}

