
.nav-bar {
  background-color: rgb(227, 230, 232);
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.app-ident {
  cursor: pointer;
  margin-left: 80px
}

.app-logo-cont {
  float: left;
  /* padding-top: 6px;
  margin-left: 200px;
  padding-left: 15px; */
}

.app-logo {
  width: 32px;
  top: 3px;
  position: relative;
}

.app-title-cont {
  float: left;
  /* line-height: 55px; */
  /* margin-top: 10px;
  margin-left: 5px; */
}

.app-title {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: rgb(36, 43, 48);
  display: inline;
  padding-left: 5px;
  line-height: 55px;
}

.app-menu {
  line-height: 48px;
  float: right;
  margin-right: 215px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
  display: none;
}

.app-menu-text {
  display: inline-block;
  padding-right: 3px;
}

.app-menu-links {
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  position: relative;
  top: -5px;
  z-index: 3;
  background-color: white;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow-y: hidden;
  transition: opacity 0.5s;
}

.app-menu-dropdown {
  cursor: pointer;
  display: inline-block;
  padding-left: 10px;
}

.app-menu-dropdown {
  cursor: pointer;
  display: inline-block;
  padding-left: 10px;
}

.app-menu-dropdown:hover + .app-menu-links {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.app-menu-links:hover {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.app-menu-link {
  padding: 0 20px;
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.app-menu-img {
  padding-right: 20px;
}

i.fa.fa-caret-down.app-menu-drop-icon {
  position: inherit;
}

i.app-menu-icon {
  font-size: 25px;
  color: black;
  position: relative;
  top: 7px;
  padding-right: 20px;
}

.app-menu-link-cont:hover {
  background-color: rgb(235, 235, 235);
}
