.details-box {
  position: sticky;
  padding: 10px;
  top: 70px;
  width: 400px;
  height: 200px;
  font-size: 13;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
}

.tree-container {
  margin-top: 20px;
}

.bom-editor-col {
  border-right: 1px solid black;
  margin-left: -15px;
}