<div class="container-fluid">
  <app-bom-selector (selectedBom)="onBomSelect($event)"></app-bom-selector>

  <div class="row row-custom">
    <div class="col-sm-4 bom-editor-col">
      <!-- first col is BOM tree -->
      <div class="tree-container" *ngIf="showBom">
        <tree [tree]="bomTree" (nodeSelected)="onNodeSelect($event.node)" #treeComponent></tree>
      </div>
    </div>
    <div class="col-sm-8">
      <!-- second col is BOM viewer -->
      <app-bom-draw-d3 [selectedBom]="selectedBom"></app-bom-draw-d3>
    </div>
  </div>
  
  <!-- <div class="details-box" *ngIf="showDetails">
    <b>{{details.entity}} Details:</b><br /><br />
    <b>Name:</b> {{details.name}} (id: {{details.id}})<br />
    <b>{{details.entity}} Type:</b> {{details.type}}<br />
    <b>Description:</b> {{details.description}}
  </div> -->
</div>