/*------------------------
	icons
-------------------------*/
@nc-small-remove: "\ea04";
@nc-calendar-add: "\ea07";
@nc-priority-high-2: "\ea15";
@nc-microcircuit: "\ea16";
@nc-server-rack: "\ea17";
@nc-privacy-policy-2: "\ea18";
@nc-event-create: "\ea19";
@nc-opening-times: "\ea1a";
@nc-dots-07: "\ea1b";
@nc-dots-05: "\ea1c";
@nc-dots-06: "\ea1d";
@nc-bars-rotate: "\ea1e";
@nc-rim: "\ea1f";
@nc-gantt: "\ea20";
@nc-lock-1: "\ea21";
@nc-wifi-router: "\ea22";
@nc-time-clock: "\ea23";
@nc-time-countdown: "\ea24";
@nc-socket: "\ea25";
@nc-socket-europe-1: "\ea26";
@nc-single-05: "\ea27";
@nc-signal: "\ea28";
@nc-sign-closed: "\ea29";
@nc-settings-91: "\ea2a";
@nc-ram: "\ea2b";
@nc-pulse-phone: "\ea2c";
@nc-newsletter: "\ea2e";
@nc-money-coins: "\ea2f";
@nc-money-11: "\ea30";
@nc-microscope: "\ea31";
@nc-meeting: "\ea32";
@nc-map-big: "\ea33";
@nc-list: "\ea34";
@nc-light-traffic: "\ea35";
@nc-lab: "\ea36";
@nc-l-security: "\ea37";
@nc-keyboard: "\ea38";
@nc-keyboard-wireless: "\ea39";
@nc-hierarchy-54: "\ea3a";
@nc-hierarchy-53: "\ea3b";
@nc-dashboard-half: "\ea3c";
@nc-code-editor: "\ea3d";
@nc-circle-10: "\ea3e";
@nc-chat-round-content: "\ea3f";
@nc-chart-bar-33: "\ea40";
@nc-calendar-grid-61: "\ea41";
@nc-calendar-check-59: "\ea42";
@nc-bulb-63: "\ea44";
@nc-book-open-2: "\ea45";
@nc-board-29: "\ea46";
@nc-board-28: "\ea47";
@nc-archive-check: "\ea48";
@nc-a-edit: "\ea49";
@nc-a-check: "\ea4a";
@nc-wifi: "\ea4b";
@nc-square-download: "\ea4c";
@nc-launch-47: "\ea4d";
@nc-barcode: "\ea4e";
@nc-tag-content: "\ea4f";
@nc-b-security: "\ea50";
@nc-lock: "\ea51";
@nc-badge-1: "\ea52";

.nc-small-remove::before {
  content: @nc-small-remove;
}

.nc-calendar-add::before {
  content: @nc-calendar-add;
}

.nc-priority-high-2::before {
  content: @nc-priority-high-2;
}

.nc-microcircuit::before {
  content: @nc-microcircuit;
}

.nc-server-rack::before {
  content: @nc-server-rack;
}

.nc-privacy-policy-2::before {
  content: @nc-privacy-policy-2;
}

.nc-event-create::before {
  content: @nc-event-create;
}

.nc-opening-times::before {
  content: @nc-opening-times;
}

.nc-dots-07::before {
  content: @nc-dots-07;
}

.nc-dots-05::before {
  content: @nc-dots-05;
}

.nc-dots-06::before {
  content: @nc-dots-06;
}

.nc-bars-rotate::before {
  content: @nc-bars-rotate;
}

.nc-rim::before {
  content: @nc-rim;
}

.nc-gantt::before {
  content: @nc-gantt;
}

.nc-lock-1::before {
  content: @nc-lock-1;
}

.nc-wifi-router::before {
  content: @nc-wifi-router;
}

.nc-time-clock::before {
  content: @nc-time-clock;
}

.nc-time-countdown::before {
  content: @nc-time-countdown;
}

.nc-socket::before {
  content: @nc-socket;
}

.nc-socket-europe-1::before {
  content: @nc-socket-europe-1;
}

.nc-single-05::before {
  content: @nc-single-05;
}

.nc-signal::before {
  content: @nc-signal;
}

.nc-sign-closed::before {
  content: @nc-sign-closed;
}

.nc-settings-91::before {
  content: @nc-settings-91;
}

.nc-ram::before {
  content: @nc-ram;
}

.nc-pulse-phone::before {
  content: @nc-pulse-phone;
}

.nc-newsletter::before {
  content: @nc-newsletter;
}

.nc-money-coins::before {
  content: @nc-money-coins;
}

.nc-money-11::before {
  content: @nc-money-11;
}

.nc-microscope::before {
  content: @nc-microscope;
}

.nc-meeting::before {
  content: @nc-meeting;
}

.nc-map-big::before {
  content: @nc-map-big;
}

.nc-list::before {
  content: @nc-list;
}

.nc-light-traffic::before {
  content: @nc-light-traffic;
}

.nc-lab::before {
  content: @nc-lab;
}

.nc-l-security::before {
  content: @nc-l-security;
}

.nc-keyboard::before {
  content: @nc-keyboard;
}

.nc-keyboard-wireless::before {
  content: @nc-keyboard-wireless;
}

.nc-hierarchy-54::before {
  content: @nc-hierarchy-54;
}

.nc-hierarchy-53::before {
  content: @nc-hierarchy-53;
}

.nc-dashboard-half::before {
  content: @nc-dashboard-half;
}

.nc-code-editor::before {
  content: @nc-code-editor;
}

.nc-circle-10::before {
  content: @nc-circle-10;
}

.nc-chat-round-content::before {
  content: @nc-chat-round-content;
}

.nc-chart-bar-33::before {
  content: @nc-chart-bar-33;
}

.nc-calendar-grid-61::before {
  content: @nc-calendar-grid-61;
}

.nc-calendar-check-59::before {
  content: @nc-calendar-check-59;
}

.nc-bulb-63::before {
  content: @nc-bulb-63;
}

.nc-book-open-2::before {
  content: @nc-book-open-2;
}

.nc-board-29::before {
  content: @nc-board-29;
}

.nc-board-28::before {
  content: @nc-board-28;
}

.nc-archive-check::before {
  content: @nc-archive-check;
}

.nc-a-edit::before {
  content: @nc-a-edit;
}

.nc-a-check::before {
  content: @nc-a-check;
}

.nc-wifi::before {
  content: @nc-wifi;
}

.nc-square-download::before {
  content: @nc-square-download;
}

.nc-launch-47::before {
  content: @nc-launch-47;
}

.nc-barcode::before {
  content: @nc-barcode;
}

.nc-tag-content::before {
  content: @nc-tag-content;
}

.nc-b-security::before {
  content: @nc-b-security;
}

.nc-lock::before {
  content: @nc-lock;
}

.nc-badge-1::before {
  content: @nc-badge-1;
}

