

div.row.websockets-row {
    margin-bottom: 25px;
}

h2.page-header-text.chat-app-title {
    margin-bottom: 20px;
}

input.form-control.chat-message {
    width: 250px;
}

button.btn.btn-primary.chat-send-button {
    margin-left: 20px;
}

div.chat-messages-cont {
    margin-top: 25px;
}

div.online-user {
    height: 40px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    line-height: 40px;
    padding: 0 25px;
}

div.notifications-col {
    width: 95%;
    height: 100px;
    border: 1px solid lightgrey;
    padding: 10px;
}

div.chats-col, div.loggedin-col {
    height: 300px;
    border: 1px solid lightgrey;
    padding: 10px;
    overflow-y: auto;
    width: 45%;
}

div.chats-col {
    margin-right: 5%
}

div.header-text-cont {
    margin-bottom: 10px;
    font-weight: 600;
}

div.content-cont.chats {
    margin-bottom: 5px;
}