
h2.page-header-text.chat-app-title {
    margin-bottom: 20px;
}

input.form-control.chat-message {
    width: 250px;
}

button.btn.btn-primary.chat-send-button {
    margin-left: 20px;
}

div.chat-messages-cont {
    margin-top: 25px;
}

div.online-user {
    height: 40px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    line-height: 40px;
    padding: 0 25px;
}