
<div class="sidenav-cont">

  <div class="sidenav-menu-items">

    <div class="sidenav-menu-item fteEntry">
      <div class="sidenav-mainmenu-cont" (click)="onMenuItemClick('fteEntry')">
        <i class="nc-icon nc-calendar-add sidenav-menu-icon"></i>
        <div class="sidenav-menu-item-text">FTE Entry</div>
        <i class="fa fa-caret-right sidenav-expand-collapse-icon" aria-hidden="true"></i>
      </div>
      <div class="sidenav-submenu-cont">
        <div class="sidenav-submenu-item" (click)="onSubMenuItemClick('me')">
          Me
        </div>
        <div class="sidenav-submenu-item" (click)="onSubMenuItemClick('myTeam')">
          My Team
        </div>
      </div>
    </div>

    <div class="sidenav-menu-item projects" (click)="onMenuItemClick('projects')">
      <i class="nc-icon nc-gantt sidenav-menu-icon"></i>
      <div class="sidenav-menu-item-text">Projects</div>
    </div>

    <div class="sidenav-menu-item reports" (click)="onMenuItemClick('reports')">
      <i class="nc-icon nc-chart-bar-33 sidenav-menu-icon"></i>
      <div class="sidenav-menu-item-text">Reports</div>
    </div>

  </div>


</div>
