
<div class="sidenav-cont" data-simplebar>

    <div class="sidenav-menu-items">

      <div *ngFor="let menu of menuStructure" [class]="'sidenav-menu-item ' + menu.alias" [attr.data-alias]="menu.alias" [hidden]="menu.hidden">
  
        <div [class]="'sidenav-mainmenu-cont' + (menu.active ? ' active' : ' inactive') + (menu.highlighted ? ' highlighted' : '')" [attr.data-clicktrack]="'page: Main, clickedOn: Menu Item > ' + menu.title" (click)="onMenuItemClick(menu.alias)">
          <i [class]="'nc-icon sidenav-menu-icon ' + menu.iconClass"></i>
          <div class="sidenav-menu-item-text">{{ menu.title }}</div>
          <i *ngIf="menu.subItems" [class]="'fa sidenav-expand-collapse-icon ' + (menu.expanded ? 'fa-caret-down' : 'fa-caret-right')" aria-hidden="true"></i>
        </div>
  
        <ng-container *ngIf="menu.subItems">
          <div *ngFor="let subMenu of menu.subItems" [class]="'sidenav-submenu-cont' + (subMenu.active ? ' active' : ' inactive')" [hidden]="subMenu.hidden">
            <div class="sidenav-submenu-item" [attr.data-clicktrack]="'page: Main, clickedOn: Menu Item > ' + menu.title + ' > ' + subMenu.title" (click)="onSubMenuItemClick($event.target, menu.alias, subMenu.alias)">
              {{ subMenu.title }}
            </div>
          </div>
        </ng-container>
  
      </div>
  
    </div>
  

  </div>
  