
<div class="sidenav-cont">

  <div class="sidenav-menu-items">

    <div *ngFor="let menu of menuStructure" [class]="'sidenav-menu-item ' + menu.alias">

      <div class="sidenav-mainmenu-cont" (click)="onMenuItemClick(menu.alias)">
        <i [class]="'nc-icon sidenav-menu-icon ' + menu.iconClass"></i>
        <div class="sidenav-menu-item-text">{{ menu.title }}</div>
        <i *ngIf="menu.subItems" [class]="'fa sidenav-expand-collapse-icon ' + (menu.expanded ? 'fa-caret-down' : 'fa-caret-right')" aria-hidden="true"></i>
      </div>

      <ng-container *ngIf="menu.subItems">
        <div *ngFor="let subMenu of menu.subItems" class="sidenav-submenu-cont">
          <div class="sidenav-submenu-item" (click)="onSubMenuItemClick(subMenu.alias)">
            {{ subMenu.title }}
          </div>
        </div>
      </ng-container>

    </div>

  </div>


</div>
