<div class="modal fade" id="projectsEditModal" tabindex="-1" role="dialog" aria-labelledby="projectsEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectsEditModalLabel">Edit Project</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">

          <input formControlName="projectID" type="hidden" class="form-control" id="project-id" value="{{ projectData['id'] }}" visible="false">

          <div class="form-group">
            <label for="project-name" class="col-form-label">Project Name:</label>
            <input formControlName="projectName" type="text" class="form-control" id="project-name" value="{{ projectData['projectName'] }}">
          </div>
          <!-- <div class="form-group">
              <label for="project-type">Project Type:</label>
              <select formControlName="projectTypeID" class="form-control">
                <option *ngFor="let projectType of projectTypesList" [value]="projectType.id">
                  {{ projectType.projectTypeName }}
                </option>
              </select>
            </div> -->
          <div class="form-group">
            <label for="description-text" class="col-form-label">Description:</label>
            <textarea formControlName="projectDescription" class="form-control" id="description-text"  value="{{ projectData['description'] }}"></textarea>
          </div>
          <div class="form-group">
            <label for="notes-text" class="col-form-label">Notes:</label>
            <textarea formControlName="projectNotes" class="form-control" id="notes-text"  value="{{ projectData['notes'] }}"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProject()">Update</button>
      </div>
    </div>
  </div>
</div>