
div.org-dropdown-control {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: rgb(245, 245, 245);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  cursor: pointer;
}

i.fa.org-dropdown-control-caret {
  position: absolute;
  right: 10px;
  line-height: 1.5;
}

app-org-dropdown {
  position: relative;
  left: -15px;
}

div.org-dropdown-cont {
  position: absolute;
  z-index: 1;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 217px;
  border: 1px solid lightgrey;
  background-color: rgb(250, 250, 250);
}

div.row.employee-display-cont {
  margin-top: 25px;
  margin-left: 10px;
  font-size: 18px;
}

input.form-control.report-filter.start-date {
  display: inline-block;
  width: 200px;
  margin-left: 25px;
}

/* spinner for waiting org hierarchy data to arrive */

.orgdata-spinner-cont {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.orgdata-spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: orgdata-spin 0.75s linear infinite;
}

@keyframes orgdata-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* bootstrap style soft blue glow border */

div.org-dropdown-control.highlight {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}