<div class="row">
  <!-- first col is list-box of items in the BOM-->
  <div class="col-sm-3">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Level:</th>
          <th>Name:</th>
          <th>Description:</th>
          <th>Quotes:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of bom" (click)="showQuotes(item)" [ngClass]="selectedPart.ChildID === item.ChildID ? 'table-active' : ''">
          <td>{{item.Level}}</td>
          <td>{{item.ChildIndentedName}}</td>
          <td>{{item.ChildDescription}}</td>
          <td>{{item.ChildQuotes}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="list-group">
      <button class="list-group-item list-group-item-action" *ngFor="let item of bom" (click)="showQuotes(item)" [ngClass]="selectedPart.ChildID === item.ChildID ? 'active' : ''">{{item.ChildIndentedName}}</button>
    </div> -->
  </div>

  <!-- second col is quote selector and editor -->
  <div class="col-sm-9 card-cont" *ngIf="(selectedPart | json) !== '{}'">

    <div class="card"> <!-- card for "add new quote" -->
      <div class="card-header">New Quote</div>
      <div class="card-body text-center">
        <button class="btn btn-success" (click)="editQuote()">Add New Quote</button>
      </div>
    </div>
    <ng-container *ngFor="let quote of quotes">
      <div class="card">
        <div class="card-header">
          {{quote.supplierName}} - {{quote.mfgPartNumber}}
          <div class="card-header-buttons">
            <button type="button" class="btn btn-secondary header-button" (click)="editQuote(quote)" title="Edit Quote"><i class="fa fa-pencil-square-o"></i></button>&nbsp;
            <button type="button" class="btn btn-danger header-button" (click)="deleteQuote(quote)" title="Delete Quote"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>MOQ:</th>
                <th>Price:</th>
                <th>NRE:</th>
                <th>LT (wks):</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let break of quote.breaks">
                <td>{{break.minOrderQty}}</td>
                <td>{{break.price}}</td>
                <td>{{break.nreCharge}}</td>
                <td>{{break.leadTime}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- bootstrap modal for add quote -->
<div class="modal fade" id="quoteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modify Quote:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="quoteForm">
        <form [formGroup]="quoteForm">
          <label>Supplier:</label><br />
          <input type="text" class="form-control supplier-typeahead" formControlName="supplierName" (blur)="onSupplierBlur($event.target.value)" [ngClass]="quoteForm.controls.supplierName.valid ? '' : 'highlight-invalid'" [attr.title]="quoteForm.controls.supplierName.valid ? '' : supplierTitle"><br />
          <label>Manufacturer's Part Number:</label>
          <input type="text" class="form-control" formControlName="mfgPartNumber" [ngClass]="quoteForm.controls.mfgPartNumber.valid ? '' : 'highlight-invalid'" [attr.title]="quoteForm.controls.mfgPartNumber.valid ? '' : mpnTitle"><br />
          <label>Price Breaks:</label>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>MOQ:</th>
                <th>Price:</th>
                <th>NRE:</th>
                <th>LT (wks):</th>
              </tr>
            </thead>
            <tbody formArrayName="breaks">
              <tr *ngFor="let priceBreak of quoteForm.controls.breaks.controls; let i = index">
                <ng-container *ngIf="!priceBreak.controls.toBeDeleted.value" formGroupName="{{i}}">
                  <td class="delete-row"><i class="fa fa-trash-o" (click)="onRowDelete({priceBreak: priceBreak, index: i})"></i></td>
                  <td><input class="form-control" formControlName="minOrderQty" [ngClass]="priceBreak.controls.minOrderQty.valid ? '' : 'highlight-invalid'" [attr.title]="priceBreak.controls.minOrderQty.valid ? null : moqTitle"></td>
                  <td><input class="form-control" formControlName="price" [ngClass]="priceBreak.controls.price.valid ? '' : 'highlight-invalid'" [attr.title]="priceBreak.controls.price.valid ? null : priceTitle"></td>
                  <td><input class="form-control" formControlName="nreCharge" [ngClass]="priceBreak.controls.nreCharge.valid ? '' : 'highlight-invalid'" [attr.title]="priceBreak.controls.nreCharge.valid ? null : nreTitle"></td>
                  <td><input class="form-control" formControlName="leadTime" [ngClass]="priceBreak.controls.leadTime.valid ? '' : 'highlight-invalid'" [attr.title]="priceBreak.controls.leadTime.valid ? null : ltTitle"></td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-secondary" (click)="onAddClick()"><i class="fa fa-plus"></i> Add Price Break</button>
        </form>
      </div>
      <div class="modal-footer" *ngIf="quoteForm">
        <!-- <button type="button" class="btn btn-primary" (click)="testForm()">test</button> -->
        <button type="button" class="btn btn-primary" (click)="onSaveQuote()" [disabled]="!quoteForm.valid">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
