

/* search bar */

div.projects-filters-cont {
  margin-bottom: 40px;
}

div.projects-filter-string {
  position: relative;
  display: inline-block;
}

input.projects-filter-input {
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

i.projects-filter-icon-search, i.projects-filter-icon-close {
  position: absolute;
  top: 10px;
  color: grey;
}

i.projects-filter-icon-search {
  left: 10px;
}

i.projects-filter-icon-close {
  right: 10px;
  font-size: 16px;
  cursor: pointer;
}

div.projects-display-count {
  /* display: inline-block; */
  float: right;
}


/* search bar (end) */


div.projects-cards-cont {
  height: 70vh;  /* TO-DO: replace with javascipt */
  overflow-y: auto;
}

div.row.row-custom.row-project-card {
  border-bottom: 35px;
}

div.row.row-custom.row-project-card:not(:last-child) {
  margin-bottom: 35px;
}

div.project-card {
  height: 125px;
  width: 100%;
  margin-right: 10px;  /* leaves a bit of space between the card and the vertical scrollbar */
  border: 1px solid lightgrey;
  background-color: white;
  transition: box-shadow 0.2s;
}

div.project-card:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}

div.project-type-cont {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 100%;
  border-right: 1px solid lightgrey;
  background-color: rgb(232, 232, 232);
  vertical-align: top;  /* this is key, otherwise will push down the inline block to the right if it has top padding */
  padding-top: 20px;
}

div.project-type-name {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

div.project-type-icon {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 25px;
  text-align: center;
}

div.project-details-cont {
  display: inline-block;
  padding-top: 20px;
  padding-left: 25px;
}

div.project-name {
  font-size: 17px;
  font-weight: 500;
}

div.project-description {
  position: relative;
  margin-top: 10px;
  width: 500px;
  height: 2.8em;
  line-height: 1.4em;
  overflow: hidden;
  text-align: left;
  /* border: 1px solid lightgrey; */
}

div.project-description:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 1.4em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 1)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}