
<!-- fluid bootstrap container with margins to center page content
considering topnav, sidenav, and footer -->
<div class="container-fluid">

  <!-- outer page container; don't show until data is ready -->
  <div class="page-cont" *ngIf="showPage">

    <div class="projects-filters-cont">

      <div class="projects-filter-string">
        <input type="text" #filterVC [(ngModel)]="filterString" class="form-control projects-filter-input" placeholder="filter" (ngModelChange)="onFilterStringChange()" appAutofocus>
        <i class="projects-filter-icon-search fa fa-search"></i>
        <i class="projects-filter-icon-close fa fa-times-circle" (click)="onClearSearchClick()"></i>
      </div>

      <div class="projects-display-count">
        Showing {{ displayedProjects === totalProjects ? 'All' : displayedProjects + ' of' }} {{ totalProjects }} Projects
      </div>

    </div>

    <div class="projects-cards-cont" (scroll)="onScroll()">

      <!-- each row is a project card, with bottom margin separating it from the next one -->
      <div *ngFor="let project of projects | filter : filterString : 'ProjectName' : {limitTo: numProjectsToDisplay, matchFuzzy: true}" class="row row-custom row-project-card">

        <!-- 12 columns width project card container-->
        <div class="project-card">

          <!-- container for project type (left side element) -->
          <div class="project-type-cont" [ngStyle]="{ 'color': setProjctTypeColor(project.ProjectTypeName) }">

            <!-- project type name text -->
            <div class="project-type-name"> 
              {{ project.ProjectTypeName }}
            </div>

            <!-- project type icon -->
            <div class="project-type-icon"> 
              <i [ngClass]="setProjctTypeIconClass(project.ProjectTypeName)"></i>
            </div>
            
          </div>

          <!-- container for project name, description, etc. (middle element) -->
          <div class="project-details-cont">

            <div class="project-name">
              {{ project.ProjectName }}
            </div>

            <div class="project-description" [attr.data-id]="project.ProjectID" (mouseenter)="onDescriptionMouseEnter(project)" (mouseleave)="onDescriptionMouseLeave(project.ProjectID)">
              {{ project.Description }}
            </div>
            
          </div>

        </div>

      </div>

    </div>

  </div>  

</div>