
div.fte-table-row.tutorial-part3.introjs-showElement.introjs-relativePosition {
    position: absolute !important;
  }

  .test-buttons {
    margin-top: 25px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  
  .btn-primary {
    color: #fff;
    background-color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);;
  }
  
  .btn-save {
    color: #fff;
    background-color: rgb(49, 78, 58);
    border-color: rgb(108, 117, 125);;
  }
  
  .btn-fte-toolbar {
    width: 90px;
    height: 35px;
  }
  
  .btn-help {
    float: right;
  }
  
  

  i.fa-trash-o {
    font-size: 13pt;
    color: gray;
  }
  
  i.fa-trash-o:hover {
    color: red;
    cursor: pointer;
  }
  
  /* div.fte-table-container {
    height: 500px;
    width: 100%;
    overflow: auto;
    border-radius: 2px;
    background-color: rgb(245, 245, 245);
  } */
  
  div.fte-table {
    display: table;
    overflow: scroll;
    /* border-spacing: 0px 2px; */
  }
  
  div.fte-table-header {
    display: table-header-group;
    white-space: nowrap;
  }
  
  div.fte-table-body {
    display: table-row-group;
  }
  
  /* div.fte-table-footer {
    display: table-footer-group;
  } */
  
  div.fte-table-row {
    display: table-row;
    height: 3rem;
    white-space: nowrap;
  }
  
  /* div.fte-table-cell.quarter-spacer {
    min-width: unset;
    width: 5px;
    min-width: 5px;
    background-color: rgb(245, 245, 245);
  } */
  
  /* div.fte-table-header div.fte-table-row div.fte-table-cell.quarter-spacer-header {
    min-width: unset;
    width: 5px;
    min-width: 5px;
  } */
  
  div.fte-table-cell {
    display: table-cell;
    /* z-index: 0; */
  }
  
  
  /* div.fte-table-header div.fte-table-row {
    min-height: 30px;
    font-weight: bold;
  } */
  
  /* div.fte-table-header div.fte-table-row div.fte-table-cell {
    background-color: rgb(245, 245, 245);
    position: sticky;
    top: 0px;
    z-index: 1;
  } */
  
  /* div.fte-table-header div.fte-table-row div.fte-table-cell.border-bottom {
    border-bottom: 1px solid rgb(130, 130, 130) !important;
  } */
  
  /* div.fte-table-header div.fte-table-row div.fte-table-cell.row-month-header {
    background-color: rgb(245, 245, 245);
    position: sticky;
    top: 0px;
    z-index: 1;
  } */
  
  /* div.fte-table-header div.fte-table-row div.fte-table-cell.icon-month-header {
    position: sticky;
    top: 0px;
  } */
  
  /* div.fte-table-footer div.fte-table-row div.fte-table-cell {
    background-color: rgb(245, 245, 245);
    position: sticky;
    bottom: 0px;
    z-index: 1;
  } */
  
  /* div.fte-table-header div.fte-table-row div.fte-table-cell.col-projects-totals,
  div.fte-table-footer div.fte-table-row div.fte-table-cell.col-projects-totals {
    background-color: rgb(245, 245, 245);
    position: sticky;
    left: 30px;
    min-width: 280px;
    text-align: left;
    font-weight: bold;
    z-index: 3;
  } */
  
  /* div.fte-table-header div.fte-table-row div.fte-table-cell.col-projects-roles,
  div.fte-table-footer div.fte-table-row div.fte-table-cell.col-projects-roles {
    background-color: rgb(245, 245, 245);
    position: sticky;
    left: 200px;
    min-width: 200px;
    text-align: left;
    font-weight: bold;
    z-index: 3;
  } */
  
  /* div.fte-table-header div.fte-table-row div.fte-table-cell.icon,
  div.fte-table-footer div.fte-table-row div.fte-table-cell.icon {
    background-color: rgb(245, 245, 245);
    position: sticky;
    left: 0px;
    min-width: 30px;
    max-width: 30px;
    width: 30px;
    z-index: 3;
  } */
  
  
  
  /* div.fte-table-body div.fte-table-row div.fte-table-cell.col-project-name {
    background-color: rgb(245, 245, 245);
    position: sticky;
    left: 30px;
    min-width: 280px;
    z-index: 1;
  } */
  
  /* div.fte-table-body div.fte-table-row div.fte-table-cell.col-project-role {
    background-color: rgb(245, 245, 245);
    position: sticky;
    left: 200px;
    min-width: 280px;
    z-index: 1;
  } */
  
  /* div.fte-table-body div.fte-table-row div.fte-table-cell.icon {
    background-color: rgb(245, 245, 245);
    position: sticky;
    left: 0px;
    min-width: 30px;
    width: 30px;
    z-index: 2;
  } */
  


  .rotate {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    white-space: nowrap;
    min-width: 5rem;
    max-width: 5rem;
  }

  .table td {
    vertical-align: middle;
    border-top: none;
  }

  .table th {
    border-top: none;
  }

  .btn-circle {
    width: 25px;
    height: 25px;
    padding: 4px 4px;
    border-radius: 20px;
    text-align: center;
    /* font-size: 12px;
    line-height: 1.42857; */
}

i.fa-plus {
  font-size: 13pt;
  /* color: gray; */
}

.activate {
  color: green !important;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 4px 4px;
  border-radius: 20px;
  text-align: center;
  /* font-size: 12px;
  line-height: 1.42857; */
}

.duplicate-role {
  border: 1px solid red;
}

  /* .custom-control-label::after {
    width: 0px;
    height: 0px;
  } */


 