/* Toolbar */

.btn-fte-toolbar {
  width: 90px;
  height: 35px;
  position: sticky;
}

/* Table CSS */

div.teamrole-table-container {
  height: 500px;
  width: 100%;
  overflow: auto;
  background-color:white;
}

div.teamrole-table {
  display: table;
  overflow: scroll;
  vertical-align: middle;
  border-spacing: 0px 0px;
}

div.teamrole-table-header {
  display: table-header-group;
}

div.teamrole-table-body {
  display: table-row-group;
}

div.teamrole-table-footer {
  display: table-footer-group;
}

div.teamrole-table-row {
  display: table-row;
  vertical-align: middle;
}

div.teamrole-table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 70px;
  min-width: 70px;
  height: 25px;
  padding-top: 15px;
  z-index: 0;
}

/* TABLE BODY CSS */

/* Jobtitle Column */
div.teamrole-table-cell.col-role-title {
  background-color: white;
  position: sticky;
  left: 0px;  /* needed to keep column sticky */
  min-width: 199px;
  z-index: 1;
  padding-left: 13px;
}

/* Subtitle Column */
div.teamrole-table-cell.col-role-subtitle {
  background-color: white;
  position: sticky;
  left: 200px;
  min-width: 220px;
  padding-left: 8px;
  padding-right: 10px;
  z-index: 1;
}

/* get rid of the white dot inside radio button*/
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: none !important;
}

/* TABLE HEADER CSS */

/* Row in header */
div.teamrole-table-header div.teamrole-table-row {
  min-height: 30px;
  max-height: 30px;
  font-weight: 400;
  height: 95px;
}

/* Cell in header (employee names) */
div.teamrole-table-header div.teamrole-table-row div.teamrole-table-cell {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
  text-align: left; 
  padding-top: 10px;
  padding-right: 10px;
}

/* First Cell in Header (above jobtitles) */
div.teamrole-table-header div.teamrole-table-row div.teamrole-table-cell.col-role-titles {
  background-color: white;
  position: sticky;
  left: 0px;
  min-width: 199px;
  text-align: left;
  font-weight: bold;
  z-index: 3;
}

/* Second Cell in header (above subtitles) */
div.teamrole-table-header div.teamrole-table-row div.teamrole-table-cell.col-role-subtitles {
  background-color: white;
  position: sticky;
  left: 200px;
  min-width: 220px;
  text-align: left;
  font-weight: bold;
  z-index: 3;
}

/* Employee names */
div.rotate {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  white-space: nowrap;
  min-width: 5rem;
  max-width: 5rem;
}

/* To highlight employees without roles */
div.teamrole-table-header .empty-role {
  color: red;
}


/* FOOTER */

div.teamrole-table-footer div.teamrole-table-row div.teamrole-table-cell {
  background-color: white;
  position: sticky;
  bottom: 0px;
  z-index: 1;
}

/* Jobtitle Column */
div.teamrole-table-footer div.teamrole-table-row div.teamrole-table-cell.col-role-title {
  background-color: white;
  position: inherit;
  /* left: 30px; */
  min-width: 170px;
  text-align: left;
  font-weight: bold;
  z-index: 3;
  padding-left: 12px;
  padding-right: 1px;
}

div.teamrole-table-footer div.teamrole-table-row div.teamrole-table-cell.col-role-subtitle {
  background-color: white;
  position: inherit;
  left: 200px;
  min-width: 220px;
  text-align: left;
  font-weight: bold;
  z-index: 3;
  padding-left: 6px;
}

.duplicate-role {
  border: 1px solid red;
}

.duplicate-role-small {
  color: red; 
  display: block
}

div.add-btn {
  padding-top: 5px;
}