<div class="container-fluid">

    <div class="row row-custom">
      <div class="col-sm col-custom">
    
        <button class="btn btn-primary" (click)="onTestFormClick()">Test Form Data</button>
        <button class="btn btn-secondary btn-fte-toolbar" (click)="onSaveClick()">
          <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save
        </button>
    
      </div>  
    </div>
    
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th> <!-- for trash icon -->
            <th>Job Title</th>
            <!-- loop through each employee -->
            <ng-container *ngFor="let employee of allEmployees; let k = index">
              <th class="rotate">{{ employee.fullName }}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <!-- loop through each project, one row per project -->
            <tr *ngFor="let jobTitle of employeesJobTitlesNested; let i = index">
              <td> <!-- for trash icon -->
                <i class="fa fa-trash-o" (click)="onTrashClick(i)"></i>
              </td>
              <td data-toggle="tooltip" data-placement="top">{{ jobTitle.JobTitleName }} - {{ jobTitle.JobSubTitleName }}</td>
              <!-- loop through each month's FTE allocation, "monthly" cells per project -->
                <td *ngFor="let employee of allEmployees; let j = index">
                  <div class="custom-control custom-radio">                    
                    <input type="radio" class="custom-control-input" [attr.id]="'customRadio' + i + j" [attr.name]="j" [value]="jobTitle.JobTitleID" [checked]="jobTitle.JobTitleID === employee.jobTitleID" (click)="onSelectChange(i, j, jobTitle)">
                    <label class="custom-control-label" [attr.for]="'customRadio' + i + j"></label>
                  </div>
                </td>
            </tr>
        </tbody>
      </table>

    
    </div> <!-- end FTE component container div -->
