

<!-- top nav component -->
<app-top-nav></app-top-nav>

<!-- side nav component -->
<app-side-nav></app-side-nav>

<!-- confirm modal component -->
<app-confirm-modal (confirmYesClick)="onConfirmYesClick()" (confirmCancelClick)="onConfirmCancelClick()"></app-confirm-modal>

<!-- TEMP CODE: display the loggin in user's name and email -->
<div class="main-cont" *ngIf="loggedInUser">
  <h3>Welcome, {{ loggedInUser?.fullName }}</h3>
  <h3>{{ loggedInUser?.email }}</h3>

  <button class="test-mat-button" mat-raised-button color="warn" (click)="onLogoutClick()">Logout</button>
  <button class="test-mat-button" mat-raised-button color="warn" (click)="onGetOrgDataClick()">Get Org Data</button>
  <label class="label-email">Email Address</label>
  <input type="text" class="form-control test-email" [(ngModel)]="emailAddress">
</div>

<!-- import the FTE entry screen component -->
<app-fte-entry></app-fte-entry>
