
<!-- top nav component -->
<app-top-nav></app-top-nav>

<!-- side nav component -->
<app-side-nav></app-side-nav>

<!-- confirm modal component -->
<app-confirm-modal (confirmYesClick)="onConfirmYesClick()" (confirmCancelClick)="onConfirmCancelClick()"></app-confirm-modal>

<!-- temp page content for testing routes -->
<div class="container-fluid">
  <div class="row row-custom">
    <div class="col-xs-12 col-custom">
      <h2 class="page-header-text">
        Main/Landing Page
      </h2>
      <div class="bait-button-cont">
        <button class="bait-button" mat-raised-button color="warn" [attr.data-clicktrack]="'clickedOn: Rick Roll Button, page: Main, text: you had been warned!'" (click)="onBaitClick()">Click Me</button>
      </div>
    </div>
  </div>

  <div *ngIf="showRick" class="row row-custom">
    <div class="col-xs-12 col-custom">
      <h2 class="bait-text">{{ rickText }}</h2>
    </div>
    <div class="col-xs-12 col-custom">
      <iframe width="800" height="450" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

</div>


