.dropdown-menu {
    padding: 0.5rem 5px;
    font-weight: normal !important;
}

.dropdown {
    border: none !important;
    margin: -1px;
}

.jumbotron {
    display: inline-table;
    background-color:#485b651c;
}