
<div class="container-fluid">

  <div class="row row-custom page-header-row">
    <div class="col">
      <div class="chat-app-title">
        Schedules
      </div>
    </div>
  </div>

  <div class="row">
  <!-- Project Table -->
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th width="40%">Projects</th>
            <th width="40%">Description</th>
            <th width="20%">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Project 1</td>
            <td>This is a Test</td>
            <td>NCI</td>
          </tr>
          <tr>
            <td>Project 2</td>
            <td>This is a Test</td>
            <td>NCI</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Project Table -->
    <div class="list-group col" style="background-color:pink;">
      <button>Test 1</button>
    </div>
  </div>

  </div>