
<div class="container-fluid">

  <div class="row row-custom page-header-row">
    <div class="col">
      <div class="chat-app-title">
        Schedules
      </div>
    </div>
  </div>

  <div class="row">
  <!-- Project Table -->
    <div class="col">
      <table *ngIf="showTable" class="table table-bordered table-hover table-light">
        <thead>
          <tr>
            <th width="40%">Projects</th>
            <th width="40%">Description</th>
            <div class="dropdown">
            <th width="20%">
              <div class="dropdown-toggle" data-toggle="dropdown">Project Type</div>
              <ul class="dropdown-menu">
                <li *ngFor="let projectType of projectTypesList, let i = index">
                  <input type="checkbox" [checked]="projectType.checkboxState" (change)="onCheckboxChange(i)"/>&nbsp;{{ projectType.projectTypeName }}
                </li>
              </ul>
            </th>
            </div>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of (projectList | projectTypePipe : projectTypesList)">
            <td>{{ project.ProjectName }}</td>
            <td>{{ project.Description }}</td>
            <td>{{ project.ProjectTypeName }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Project Table -->
    <div class="jumbotron col" style="background-color:pink;">
      <h1 style="text-align: center">Click on Project for Schedules</h1>
    </div>
  </div>

  </div>