/* Page containers */

div.page-cont {
  overflow-x: hidden;
  /* height: 1000px; */
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:#000;
  opacity: .75;
  z-index: 9999999;
}

/* SEARCH BAR */

div.projects-search-cont {
  margin-bottom: 40px;
  min-width: 900px;
  width: 100%;
  white-space: nowrap;
}

div.projects-search-label {
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
}

div.projects-search-string {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

input.projects-search-input {
  width: 225px;
  padding-left: 30px;
  padding-right: 30px;
}

i.projects-search-icon-search, i.projects-search-icon-close {
  position: absolute;
  top: 10px;
  color: grey;
}

i.projects-search-icon-search {
  left: 10px;
}

i.projects-search-icon-close {
  right: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Filter Badge */
i.filters-badge-icon {
  cursor: pointer;
}

/* EXPORT BUTTON */

div.float-right-cont {
  float: right;
}

button.btn-standard.export-button {
  /* margin-right: 30px; */
  position: relative;
  top: 1px;
  width: 125px;
  text-align: left;
}

span.downloading-animated-icon {
  position: relative;
  top: 2px;
  padding-left: 5px;
}

div.projects-display-count {
  display: inline-block;
  font-weight: 500;
  position: relative;
  top: 4px;
  width: 200px;
  text-align: right;
}

/* FILTER CONTENT */
div.filter-content {
  display: flex;
  /* height: 113vh; */
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Checkboxes */
div.adv-filter-cb {
  padding-left: 12px;
  margin-left: 3px;
}

/* FILTERS 1*/

div.adv-filters-cont {
  /* display: inline-block; */
  width: 50%;
  padding-right: 0px;
  /* float: left; */
  /* background: #fff; */
  /* padding: 10px; */
}

div.filter-headers {
  padding: 4px 0.25rem;
  background-color: #e9ecef;
  border-bottom: 1px solid rgba(0,0,0,.125);
  /* cursor: pointer; */
}

/* .custom-control-label::before {
  left: 4px;
} */

div.filter-collapse.show {
  min-height: 63px;
  max-height: 168px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* div.filter-collapse { CAUSES BAD COLLAPSE
  margin: 10px 0px;
} */

div.projects-search-string.projects-owner {
  /* float: right; */
  width: 100%;
  margin: 0px;
  height: auto;
}

/* div.filter-headers.project-owner {
  height: inherit;
  border: none;
} */

div.owner-label {
  display: inline-block;
  /* margin-right: 10px; */
}

div.custom-checkbox.manager {
  margin-left: 0px !important;
}

input.projects-search-input.projects-owner {
  height: 32px !important;
  width: 100%;
}

i.projects-search-icon-search.projects-owner {
  position: absolute;
  top: 6px;
  color: grey;
}

/* "ALL" CHECKBOX */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #485b65;
}
.custom-control-label::before {
  top: 6px;
  left: 2px;
  width: 11px;
  height: 11px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  height: 14px !important;
  width: 14px !important;
  cursor: pointer;
}

.custom-control-label::after {
  cursor: pointer;
}

/* FILTERS 2 */

/* div.adv-filters2-cont { */
  /* display: inline-block; */
  /* margin-left: 15px; */
  /* width: 50%; */
  /* background: #fff; */
  /* padding: 10px; */
/* } */

/* FILTERS 3 */
div.adv-filters3-cont {
  margin-top: 10px;
}

button.clear-fte {
  height: 20px;
  font-size: 10px;
  padding: 0px 4px;
  border-color: #485b65;
}

button.clear-fte:hover {
  background-color: #485b65
}

.fte-toggle {
  padding: 4px 6px 0px 6px;
  font-size: 13px;
  height: 30px;
  margin-top: 5px;
  width: 28%;
}

button.go-btn {
  font-size: 11px;
  padding: 0px 7px;
  margin: 5px 3px 7px 0px;
  border-color: lightgray;
}

/* .go-btn-active {

} */

label.fte {
  margin-top: 10px; 
  margin-right: 5px; 
  color: #757779;
  font-size: smaller;
}

input.fte {
  width: 142px;
  margin-top: 5px;
  /* margin-right: 5px; */
  float: right;
  height: 27px !important;
  padding: 2px 4px;
}

label.plc {
  margin-top: 10px;
  color: #757779;
  font-size: smaller;
}

input.plc {
  /* display: inline; */
  width: 142px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  height: 27px !important;
  padding: 2px 4px;
}

input.plc-input-invalid {
  border-color: red;
}

input.form-control:focus.plc-input-invalid {
  border-color: red !important;
}

/* RESULT TABLE */

div.adv-results-cont {
  /* display: inline-grid; */
  padding-left: 10px;
  width: calc(100% - ( 402px + 4px));
  height: 784px;
  overflow-x: auto;
  overflow-y: auto;
}

table.filter-results th {
  position: sticky;
  top: -1px;
  line-height: 6px !important;
  white-space: nowrap;
  /* background: white; */
}

table.table {
  border: 1px solid #dee2e6;
}