div.adv-results-cont {
  padding-left: 10px;
  /* width: calc(100% - ( 402px + 4px)); */
  width: auto;
  height: inherit;
  overflow-x: auto;
  overflow-y: auto;
}
  
table.filter-results th {
  position: sticky;
  top: -1px;
  line-height: 6px !important;
  white-space: nowrap;
  /* background: white; */
}
  
table.table {
  border: 1px solid #dee2e6;
}

.table .thead-light th {
  border: none;
}

thead.noResults {
  background: #e9ecef;
  line-height: 30px;
  color: #e9ecef;
}

tbody tr.noResults {
  height: 175px;
  text-align: center;
  font-size: xx-large;
}