<div class="jumbotron">
<!-- Template Driven Form -->
  <!-- 1. exproting ngForm to a public variable #f -->
  <!-- 4. add ngSubmit event directive: pass onSubmit event with varible to .ts -->
  <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label>
      <span>Full name</span>
  <!-- 2. ngModel binds the form value based on the name attributes value -->
  <!--    [ngModel] one way binding -->
  <!--    [(two-way binding)] -->
      <input
        type="text"
        name="name"
        ngModel="user.name"
        #userName="ngModel"
        required
        placeholder="Your full name">
    </label>
    <div *ngIf="userName.errors?.required && userName.touched" class="error">
      Name is required
    </div>
  <!-- 3. ngModelGroup is a nested group of ngModel -->
    <div ngModelGroup="account">
      <label>
        <span>Email address</span>
        <input
          type="email"
          name="email"
          ngModel
          required
          placeholder="Your email address">
      </label>
      <label>
        <span>Confirm address</span>
        <input
          type="email"
          name="confirm"
          ngModel
          required
          placeholder="Confirm your email address">
      </label>
    </div>
    <button type="submit" [disabled]="f.invalid">Sign up</button>
  </form>
  {{ f.value | json }}
  {{ f.controls.name?.errors | json }}

<!-- Reactive Form -->
  <form novalidate>
      <label>
        <span>Full name</span>
        <input
          type="text"
          name="name"
          placeholder="Your full name">
      </label>
      <div>
        <label>
          <span>Email address</span>
          <input
            type="email"
            name="email"
            placeholder="Your email address">
        </label>
        <label>
          <span>Confirm address</span>
          <input
            type="email"
            name="confirm"
            placeholder="Confirm your email address">
        </label>
      </div>
      <button type="submit">Sign up</button>
    </form>
</div>