<div class="modal fade" id="projectsCreateModal" tabindex="-1" role="dialog" aria-labelledby="projectsCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectsCreateModalLabel">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="project-name" class="col-form-label">Project Name:</label>
            <input formControlName="projectName" type="text" class="form-control" id="project-name">
          </div>
          <div class="form-group">
            <label for="description-text" class="col-form-label">Description:</label>
            <textarea formControlName="projectDescription" class="form-control" id="description-text"></textarea>
          </div>
          <div class="form-group">
            <label for="notes-text" class="col-form-label">Notes:</label>
            <textarea formControlName="projectNotes" class="form-control" id="notes-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="createProject()">Save</button>
      </div>
    </div>
  </div>
</div>