<div class="grid-container">
  <div class="grid">
    <div class="grid-col grid-col--fixed-left">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item">
        <p>Hello</p>
      </div>
      <div class="grid-item grid-bottom-header">
        <p>TOTAL</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <div class="grid-col">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item">
        <p>P</p>
      </div>
      <div class="grid-item grid-row--fixed-bottom">
        <p>0</p>
      </div>
    </div>

    <!-- <div class="grid-col grid-col--fixed-right">
      <div class="grid-item grid-item--header">
        <p>HEAD</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
      <div class="grid-item">
        <p>9</p>
      </div>
    </div> -->

  </div>
</div>


<table class="sticky-table">
  <ng-container>
  <thead class="sticky-table-header">
    <th class="sticky-cell sticky-header-cell sticky-header-left">Project</th>
    <th class="sticky-cell sticky-header-cell">Jan</th>
    <th class="sticky-cell sticky-header-cell">Feb</th>
    <th class="sticky-cell sticky-header-cell">Mar</th>
    <th class="sticky-cell sticky-header-cell">Apr</th>
    <th class="sticky-cell sticky-header-cell">May</th>
    <th class="sticky-cell sticky-header-cell">Jun</th>
    <th class="sticky-cell sticky-header-cell">Jul</th>
    <th class="sticky-cell sticky-header-cell">Aug</th>
    <th class="sticky-cell sticky-header-cell">Sep</th>
  </thead>
  <tbody class="sticky-table-body">
    <tr class="sticky-row">
      <td class="sticky-cell sticky-body-cell sticky-first-col">Project 1</td>
      <td class="sticky-cell sticky-body-cell">r1c1</td>
      <td class="sticky-cell sticky-body-cell">r1c2</td>
      <td class="sticky-cell sticky-body-cell">r1c3</td>
      <td class="sticky-cell sticky-body-cell">r1c4</td>
      <td class="sticky-cell sticky-body-cell">r1c5</td>
      <td class="sticky-cell sticky-body-cell">r1c6</td>
      <td class="sticky-cell sticky-body-cell">r1c7</td>
      <td class="sticky-cell sticky-body-cell">r1c8</td>
      <td class="sticky-cell sticky-body-cell">r1c9</td>
    </tr>
    <tr class="sticky-row">
      <td class="sticky-cell sticky-body-cell sticky-first-col">Project 2</td>
      <td class="sticky-cell sticky-body-cell">r1c1</td>
      <td class="sticky-cell sticky-body-cell">r1c2</td>
      <td class="sticky-cell sticky-body-cell">r1c3</td>
      <td class="sticky-cell sticky-body-cell">r1c4</td>
      <td class="sticky-cell sticky-body-cell">r1c5</td>
      <td class="sticky-cell sticky-body-cell">r1c6</td>
      <td class="sticky-cell sticky-body-cell">r1c7</td>
      <td class="sticky-cell sticky-body-cell">r1c8</td>
      <td class="sticky-cell sticky-body-cell">r1c9</td>
    </tr>
    <tr class="sticky-row">
      <td class="sticky-cell sticky-body-cell sticky-first-col">Project 3</td>
      <td class="sticky-cell sticky-body-cell">r1c1</td>
      <td class="sticky-cell sticky-body-cell">r1c2</td>
      <td class="sticky-cell sticky-body-cell">r1c3</td>
      <td class="sticky-cell sticky-body-cell">r1c4</td>
      <td class="sticky-cell sticky-body-cell">r1c5</td>
      <td class="sticky-cell sticky-body-cell">r1c6</td>
      <td class="sticky-cell sticky-body-cell">r1c7</td>
      <td class="sticky-cell sticky-body-cell">r1c8</td>
      <td class="sticky-cell sticky-body-cell">r1c9</td>
    </tr>
    <tr class="sticky-row">
      <td class="sticky-cell sticky-body-cell sticky-first-col">Project 4</td>
      <td class="sticky-cell sticky-body-cell">r1c1</td>
      <td class="sticky-cell sticky-body-cell">r1c2</td>
      <td class="sticky-cell sticky-body-cell">r1c3</td>
      <td class="sticky-cell sticky-body-cell">r1c4</td>
      <td class="sticky-cell sticky-body-cell">r1c5</td>
      <td class="sticky-cell sticky-body-cell">r1c6</td>
      <td class="sticky-cell sticky-body-cell">r1c7</td>
      <td class="sticky-cell sticky-body-cell">r1c8</td>
      <td class="sticky-cell sticky-body-cell">r1c9</td>
    </tr>
    <tr class="sticky-row">
      <td class="sticky-cell sticky-body-cell sticky-first-col">Project 5</td>
      <td class="sticky-cell sticky-body-cell">r1c1</td>
      <td class="sticky-cell sticky-body-cell">r1c2</td>
      <td class="sticky-cell sticky-body-cell">r1c3</td>
      <td class="sticky-cell sticky-body-cell">r1c4</td>
      <td class="sticky-cell sticky-body-cell">r1c5</td>
      <td class="sticky-cell sticky-body-cell">r1c6</td>
      <td class="sticky-cell sticky-body-cell">r1c7</td>
      <td class="sticky-cell sticky-body-cell">r1c8</td>
      <td class="sticky-cell sticky-body-cell">r1c9</td>
    </tr>
    <tr class="sticky-row">
      <td class="sticky-cell sticky-body-cell sticky-first-col">Project 6</td>
      <td class="sticky-cell sticky-body-cell">r1c1</td>
      <td class="sticky-cell sticky-body-cell">r1c2</td>
      <td class="sticky-cell sticky-body-cell">r1c3</td>
      <td class="sticky-cell sticky-body-cell">r1c4</td>
      <td class="sticky-cell sticky-body-cell">r1c5</td>
      <td class="sticky-cell sticky-body-cell">r1c6</td>
      <td class="sticky-cell sticky-body-cell">r1c7</td>
      <td class="sticky-cell sticky-body-cell">r1c8</td>
      <td class="sticky-cell sticky-body-cell">r1c9</td>
    </tr>
    <tr class="sticky-row totals">
      <td class="sticky-cell sticky-body-cell sticky-first-col sticky-footer-left">TOTALS</td>
      <td class="sticky-cell sticky-body-cell">0</td>
      <td class="sticky-cell sticky-body-cell">1</td>
      <td class="sticky-cell sticky-body-cell">0</td>
      <td class="sticky-cell sticky-body-cell">1</td>
      <td class="sticky-cell sticky-body-cell">.5</td>
      <td class="sticky-cell sticky-body-cell">0</td>
      <td class="sticky-cell sticky-body-cell">.6</td>
      <td class="sticky-cell sticky-body-cell">.86</td>
      <td class="sticky-cell sticky-body-cell">0</td>
    </tr>
  </tbody>
  </ng-container>
</table>