
<div class="container-fluid">
    <div class="row row-custom">
      <div class="col-xs-12 col-custom">
        <h2 class="page-header-text">
          Test Component
        </h2>
        <input #message [(ngModel)]="inputText" type="text" class="form-control" (keyup.enter)="onSendMessageClick()" appAutofocus>
        <button type="button" (click)="onSendMessageClick()">Send Message</button>
        <!-- <p *ngFor="let message of messages; let i=index">
            {{ message }}
        </p> -->
        <div id="messages"></div>
      </div>
    </div>
  </div>