<div class=container>
<div>
    <h4>Performance Load Testing</h4>
</div>
<div>
    Cycles <input type=number [(ngModel)]='cycles' step=10>
    Worker(s) <input type=number [(ngModel)]='threads' step=2>  
</div>
<div class=buttons>
        <button class='btn btn-info' (click)='startTest()'>Start</button>
        <button class='btn btn-danger' (click)='stopTest()'>Reset</button>
</div>

<div class=results><b>Results:</b></div>
<div>Starting performance of <b>{{cycles}}</b> cycles with a concurrency of <b>{{threads}}</b> thread(s).</div>
<div *ngIf=completedCycles>Complete Cycles in <b>{{completedCycles}}</b> milliseconds.</div>

<div class="row">
        <div class="col-lg-8">
          <div style="display: block;">
          <canvas baseChart width="800" height="800"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
</div>

