<div class="container-fluid">

  <div class="btn-group btn-group-toggle">
    <label class="btn btn-secondary active">
      <input type="radio" name="admin" value="jobTitles" [(ngModel)]="admin"> 
      <i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;&nbsp;Job Titles
    </label>&nbsp;&nbsp;
    <label class="btn btn-secondary active">
      <input type="radio" name="admin" value="projectAttributes" [(ngModel)]="admin">
      <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;&nbsp;Project Attributes
    </label>
  </div>

<hr>

  <app-job-titles *ngIf="admin==='jobTitles'"></app-job-titles>
  <app-project-attributes *ngIf="admin==='projectAttributes'"></app-project-attributes>

</div>

