<div class="container-fluid">
  <div class="row row-custom">
    <div class="col-sm col-custom col-text-header">
      <h2 class="page-header-text">Admin Page</h2>
    </div>
  </div>
<!-- 
  <button class="btn btn-primary btn-fte-toolbar" (click)="getJobTitles()">Job Titles</button>
  <button class="btn btn-primary btn-fte-toolbar" (click)="getProjectAttributes()">Project Attributes</button> -->

  <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngFor="let entry of entries">
    <label class="btn btn-primary btn-fte-toolbar">
      <!-- <input type="radio" value="options" name="adminToggle" id="jobTitles" data-target="'#buttons'"> Job Titles -->
      <input type="radio" name="radiogroup" 
            [checked]="idx === 0" 
            [value]="entry.id" 
            (change)="onSelectionChange(entry)">
    </label>&nbsp;&nbsp;
    <!-- <label class="btn btn-primary btn-fte-toolbar">
      <input type="radio" value="options" name="adminToggle" id="projectAttributes" data-target="'#buttons'"> Project Attributes
    </label> -->
  </div>

  <hr>
  <div></div>
  <!-- <app-job-titles *ngIf="jobTitlesFlag"></app-job-titles>
  <app-project-attributes *ngIf="projectAttributesFlag"></app-project-attributes> -->
</div>

