
<app-projects-modal *ngIf="showProjectsModal" [projects]="projectList" [fteTutorialState]="fteTutorialState"
  (selectedProject)="onModalClosed($event)" (cancel)="onModalCancelClick()" (tutorialStateEmitter)="tutorialPart3($event)"></app-projects-modal>

<div [hidden]="!display" class="container-fluid">

  <div class="row row-custom">
    <div class="col-sm col-custom">
      <button class="btn btn-primary btn-fte-toolbar tutorial-part1" (click)="onAddProjectClick()" id="intro-add-project">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;Project
      </button>
      <!-- Don't Delete - useful buttons for later -->
      <!-- <button class="btn btn-primary btn-fte-toolbar" (click)="exportXLSX()">
        <i class="fa fa-table"></i>&nbsp;&nbsp;Export
      </button> -->
      <!-- <button class="btn btn-primary" (click)="onTestFormClick()">Test Form Data</button> -->
      <!-- <button class="btn btn-primary btn-fte-toolbar" (click)="onResetClick()">
        <i class="fa fa-eraser"></i>&nbsp;&nbsp;Reset
      </button> -->
      <button class="btn btn-save btn-fte-toolbar tutorial-part1" (click)="onSaveClick()" id="intro-save">
        <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save
      </button>
      <!-- <button class="btn btn-primary btn-help" (click)="tutorialPart1()">
        <i class="fa fa-question"></i>
      </button> -->
      <div class="dropdown btn-help ">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-question"></i>
            </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="tutorialPart1()">Interactive Tutorial</a>
            <a class="dropdown-item" (click)="onInstructionsClick()">Instructions</a>
            <a class="dropdown-item" >Confluence Documentation</a>
          </div>
        </div>
    </div>
  </div>

  <!-- block for slider -->
  <div class="col-sm col-custom col-slider tutorial-part3" (click)="showSliderDisabledToast()" id="intro-slider">
    <table class="slider-header">
      <tr class="slider-header-row">
        <td class="slider-header-cell" *ngFor="let year of fyLabelArray">{{year}}</td>
      </tr>
    </table>
    <nouislider [config]="mainSliderConfig" [tooltips]="[ false, false ]" [(ngModel)]="sliderRange" [disabled]="sliderDisabled" (update)="onSliderUpdate($event)" (change)="onSliderChange($event)"></nouislider>
  </div>
 
  <!-- begin row for FTE entry table -->
  <div class="row row-custom">

    <!-- block for FTE entry div table -->
    <div class="col-sm col-custom fte-table-container tutorial-part3" id="intro-add-ftes">
      <form [formGroup]="FTEFormGroup">

        <div class="fte-table" formArrayName="FTEFormArray">

          <div class="fte-table-header">
            <div class="fte-table-row">
              <div class="fte-table-cell icon">&nbsp;</div> <!-- placeholder for trash icon -->
              <div class="fte-table-cell col-projects-totals">&nbsp;</div>
              <div class="fte-table-cell col-projects-roles">&nbsp;</div> <!-- spacer for project-role column -->
              <ng-container *ngFor="let label of fqLabelArray; let l = index">
                <div class="fte-table-cell border-bottom" [@colState]="fteQuarterVisible[l]" [style.display]="fteQuarterVisible[l] ? '' : 'none'">&nbsp;</div>
                <div class="fte-table-cell border-bottom" [@colState]="fteQuarterVisible[l]" [style.display]="fteQuarterVisible[l] ? '' : 'none'">{{label}}</div>
                <div class="fte-table-cell border-bottom" [@colState]="fteQuarterVisible[l]" [style.display]="fteQuarterVisible[l] ? '' : 'none'">&nbsp;</div>
                <div class="fte-table-cell quarter-spacer-header" [@colState]="fteQuarterVisible[l]" [style.display]="fteQuarterVisible[l] ? '' : 'none'">&nbsp;</div>
              </ng-container>
            </div>
            <div class="fte-table-row">
              <div class="fte-table-cell icon icon-month-header">&nbsp;</div> <!-- for trash icon -->
              <div class="fte-table-cell row-month-header col-projects-totals">Project</div>
              <div class="fte-table-cell row-month-header col-projects-roles">Role</div>
              <!-- loop through each month in the userFTEs data object-->
              <ng-container *ngFor="let month of months; let k = index">
                <!-- only show the month column if the slider deems it visible -->
                <div class="fte-table-cell row-month-header" [@colState]="fteMonthVisible[k]" [style.display]="fteMonthVisible[k] ? 'table-cell' : 'none'">{{month | date:'MMM':'+0'}}</div>
                <ng-container *ngIf="k % 3 === 2">
                  <div class="fte-table-cell quarter-spacer" [@colState]="fteMonthVisible[k]" [style.display]="fteMonthVisible[k] ? 'table-cell' : 'none'">&nbsp;</div>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <div *ngIf="displayFTETable" class="fte-table-body">
            <!-- loop through each project, one row per project -->
            <ng-container *ngFor="let project of projects; let i = index">
              <div class="fte-table-row" [formGroupName]="i" [style.display]="(fteProjectVisible[i]) ? 'table-row' : 'none'">
                <div class="fte-table-cell icon"> <!-- for trash icon -->
                  <i *ngIf="fteProjectDeletable[i]" class="fa fa-trash-o" (click)="onTrashClick(i)"></i>
                </div>
                <div class="fte-table-cell col-project-name">{{ (project.projectName.length > 20) ? (project.projectName | slice:0:20) + '...' : (project.projectName) }}</div>
                <div class="fte-table-cell col-project-role">{{ project.jobTitle }} - {{ project.jobSubTitle }}</div>
                <!-- loop through each month's FTE allocation, "monthly" cells per project -->
                <ng-container *ngFor="let month of months; let j = index">
                  <div class="fte-table-cell" [@colState]="fteMonthVisible[j]" [formGroupName]="j" [style.display]="fteMonthVisible[j] ? 'table-cell' : 'none'">
                    <input type="text" formControlName="fte" class="form-control" [attr.disabled]="fteMonthEditable[j] ? null : ''" (change)="onFTEChange(i, j, $event.target.value)" appFteInputRestrict>
                  </div>
                  <ng-container *ngIf="j % 3 === 2">
                    <div class="fte-table-cell quarter-spacer" [@colState]="fteMonthVisible[j]" [style.display]="fteMonthVisible[j] ? 'table-cell' : 'none'">&nbsp;</div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </div>

          <div class="fte-table-footer">
            <div class="fte-table-row tutorial-part3" id="intro-fte-total">
              <div class="fte-table-cell icon">&nbsp;</div> <!-- for trash icon -->
              <div class="fte-table-cell col-projects-totals">TOTAL</div>
              <div class="fte-table-cell col-projects-roles">&nbsp;</div> <!-- spacer for project-role column -->
              <ng-container *ngFor="let month of months; let z = index">
                <!-- <div class="fte-table-cell" *ngIf="fteMonthVisible[z]"> -->
                <div class="fte-table-cell" [@colState]="fteMonthVisible[z]" [style.display]="fteMonthVisible[z] ? 'table-cell' : 'none'">
                  <input disabled [value]="monthlyTotals[z] | number:'1.1'" type="text" [class]="'form-control' + (!monthlyTotalsValid[z] ? ' highlight-invalid' : '')" [attr.month-index]="z">
                </div>
                <ng-container *ngIf="z % 3 === 2">
                  <div class="fte-table-cell quarter-spacer" [@colState]="fteMonthVisible[z]" [style.display]="fteMonthVisible[z] ? 'table-cell' : 'none'">&nbsp;</div>
                </ng-container>
              </ng-container>
            </div>
          </div>

        </div> <!-- end div table -->

      </form>
    </div> <!-- end div that controls entire FTE entry table visibility -->
  </div> <!-- end row for FTE entry table -->

</div> <!-- end FTE component container div -->

<ng-container *ngIf="display">
  <app-footer></app-footer>
</ng-container>