
<div *ngIf="display" class="container-fluid">

  <div class="row row-custom"> <!-- begin row for slider bar -->
    <div class="col-xs-12 col-custom col-slider">
      <nouislider [config]="mainSliderConfig" [tooltips]="[ false, false ]" [(ngModel)]="sliderRange" (update)="onSliderUpdate($event)" (change)="onSliderChange($event)"></nouislider>
    </div>
  </div> <!-- end row -->


  <div class="row row-custom top-margin"> <!-- begin row for FTE entry table -->

      <div class="col-xs-12 col-custom table-scrollable" (scroll)="onTableScroll($event)"> <!-- using table-scrollable css -->
          <form [formGroup]="FTEFormGroup">
              <div class="table-inner-cont" formArrayName="FTEFormArray">
                  <div class="table-header-underlay">
                  </div>
                  <table class="table-ftes">
                      <thead>
                          <tr> <!-- first row of table is month-name column-headers -->
                              <th class="header-project">Project</th>
                              <!-- loop through each month in the userFTEs data object-->
                              <ng-container *ngFor="let month of months; let k = index">
                                  <!-- only show the month column if the slider deems it visible -->
                                  <th class="header-month" *ngIf="fteMonthVisible[k]">{{month | date:'MMM-yyyy':'+0'}}</th>
                              </ng-container>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- loop through each project, one row per project -->
                          <ng-container *ngFor="let project of projects; let i = index">
                            <tr [formGroupName]="i" *ngIf="fteProjectVisible[i]">
                                <td class="col-project-name">{{project.projectName}}</td>
                                <!-- loop through each month's FTE allocation, 24 cells per project -->
                                <ng-container *ngFor="let month of months; let j = index">
                                    <!-- [@conditionState]="state" -->
                                    <td [formGroupName]="j" *ngIf="fteMonthVisible[j]"> <!-- only show if slider deems it visible -->
                                        <!-- TODO: setup to use formControlName only instead of ngModel for sending to db -->
                                        <input type="text" formControlName="fte" class="form-control fte-table-row" (change)="onFTEChange(i, j, $event.target.value)" appFteInputRestrict>
                                    </td>
                                </ng-container>
                            </tr>
                          </ng-container>
                          <!-- totals row-->
                          <tr class="totals-row">
                              <td class="col-total-name totals-row-cell">TOTAL</td>
                              <ng-container *ngFor="let month of months; let z = index">
                                  <td class="totals-row-cell" *ngIf="fteMonthVisible[z]">
                                      <input disabled [value]="monthlyTotals[z] | number:'1.1'" type="text" [class]="'form-control fte-table-row fte-totals-column' + (!monthlyTotalsValid[z] ? ' highlight-invalid' : '')" [attr.month-index]="z">
                                  </td>
                              </ng-container>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </form>
      </div> <!-- end FTE entry scrollable div -->
  </div> <!-- end row -->

  <div class="test-buttons">
    <button class="test-mat-button" mat-raised-button color="warn" (click)="onTestFormClick()">Test Form Data</button>
    <button class="test-mat-button" mat-raised-button color="warn" (click)="onTestSaveClick()">Save</button>
    <button class="test-mat-button" mat-raised-button color="warn" (click)="exportXLSX()">Export</button>
    <button class="test-mat-button" mat-raised-button color="warn" data-toggle="modal" data-target="#projectListModal" (click)="addNewProject()">Add New Project</button>
  </div>

</div> <!-- end FTE component container div -->


<!-- Modal -->
<div class="modal fade" id="projectListModal" tabindex="-1" role="dialog" aria-labelledby="projectListModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-bordered table-hover">
                    <tr *ngFor="let list of projectList" (click)="selectNewProject(list)" data-dismiss="modal">
                        <td>{{list.ProjectID}}</td>
                        <td>{{list.ProjectName}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- TEMP CODE: for seeing live changes to the data object -->
<!-- <br /><br /><br /><br />
<div>JSON: {{userFTEs | json}}</div> -->