div.toast {
    opacity: 0;
    min-width: 380px;
    max-width: 380px;
    text-align: center;
    padding: 25px 5px 25px 5px;
    position: fixed;
    right: 30px;
    top: 140px;
    font-size: 15px;
    background-color: #333; /* default */
    color: #fff;
    border-radius: 4px;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  div.toast.toast-success {
    background-color: #28A745; /* bootstrap4 success */
    color: #fff;
  }
  
  div.toast.toast-warn {
    background-color: #FFC107; /* bootstrap4 warning */
    color: #000;
  }

  div.toast.toast-error {
    background-color: #C82333; /* bootstrap4 danger-red */
    color: #fff;
  }
  
  div.toast-show {
    transform: translateY(-30px);
    opacity: 1;
    z-index: 100;
  }
