<div class="jumbotron">
  <div class="row">
    
    <!-- Job Title Section -->
    <div class="col-sm">
      <h2>Job Titles</h2>
        <!-- Jobtitle Fuzzy Search Bar -->
        <div class="input-group">
          <input type="text"  class="form-control" name="jobTitleName" [(ngModel)]="jobTitleName" placeholder="Search Job Title">
          <div class="input-group-append">
            <button #btnJobTitle name="Job Title" class="btn btn-primary btn-fte-toolbar" style="display: block" data-toggle="modal" data-target="#createJobTitleModal" (click)="onCreateButtonClick(btnJobTitle.name, titles.value.name)">
              <i class="fa fa-plus"></i>&nbsp;&nbsp;Create
            </button>
          </div>
        </div>
        <br/>
        <!-- List of all Jobtitles -->
        <div class="list-group">
          <ng-container *ngIf="(jobTitleList | filter : jobTitleName : 'jobTitleName':{limitTo: numJobTitlesToDisplay, matchFuzzy: true}) as filteredJobTitle">
            <div *ngFor="let list of filteredJobTitle">
              <button type="button" class="list-group-item list-group-item-action" (click)="getJobSubTitleListMap(list.id)">
                <div class="row">
                  <div class="col-10">
                    {{ list.jobTitleName }}<span *ngIf="list.description"> - {{list.description}}</span>
                  </div>
                  <div class="col-1">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" data-toggle="modal" data-target="#jobTitleEditModal"></i>
                  </div>
                  <div class="col-1">
                    <i class="fa fa-trash-o fa-lg" data-toggle="modal" data-target="#deleteJobTitleModal"></i>
                  </div>
                </div>
              </button>
            </div>
            <!-- Technically don't need the length anymore but this was so much work... -->
            <!-- <div name="lengthJobTitleList" [(ngModel)]="filteredJobTitle.length" ngDefaultControl>Result = {{filteredJobTitle.length}}</div> -->
          </ng-container>
        </div>
    </div>

    <!-- Job Subtitle Section -->
    <div class="col-sm">
      <h2>Job Subtitles</h2>
      <!-- Job Subtitle Fuzzy Search Bar -->
      <div class="input-group">
        <input type="text"  class="form-control" name="jobSubTitleName" [(ngModel)]="jobSubTitleName" placeholder="Search Job Subtitle">
        <div class="input-group-append">
          <button #btnJobSubTitle name="Job Subtitle" class="btn btn-primary btn-fte-toolbar" style="display: block" disabled>
            <i class="fa fa-plus"></i>&nbsp;&nbsp;Create
          </button>
        </div>
      </div>
      <br/>
      <!-- List of Subtitles with checkbox: Show only when clicked on a specific job title -->
      <div class="list-group">
        <ng-container *ngIf="(jobSubTitleList | filter : jobSubTitleName : 'jobSubTitleName':{limitTo: numJobTitlesToDisplay, matchFuzzy: true}) as filteredJobSubTitle">
          <!-- TO-DO CHAI: Add filtered list later with *ngFor="let sublist of filteredJobSubTitle" -->
          <div *ngFor="let sublist of jobSubTitleList">
          <button type="button" class="list-group-item list-group-item-action">
            <div class="row">
              <!-- Checkboxes -->
              <div class="col-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" [checked]="sublist.checked===true">
                  </div>
                </div>
              </div>
              <!-- List of Names -->
              <div class="col-11">
                {{sublist.jobSubTitleName}}
              </div>
            </div>
          </button>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- <div class="col-sm">
        <div class="list-group"> 
          <ng-container *ngIf="(jobSubTitleList | filter : jobSubTitleName : 'jobSubTitleName':{limitTo: numJobSubTitlesToDisplay, matchFuzzy: true}) as filteredJobSubTitle">
            <div *ngFor="let sublist of filteredJobSubTitle">
                <button type="button" class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-1">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" *ngIf="jobSubTitleListMap" [checked]="sublist.jobSubTitleName==jobSubTitleListMap.jobSubTitleName" aria-label="Checkbox for following text input">
                        </div>
                      </div>
                    </div>
                    <div class="col-9">
                      {{sublist.jobSubTitleName}}<span *ngIf="sublist.description"> - {{sublist.description}}</span>
                    </div>
                    <div class="col-1">
                      <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" data-toggle="modal" data-target="#jobTitleEditModal"></i>
                    </div>
                    <div class="col-1">
                      <i class="fa fa-trash-o fa-lg" data-toggle="modal" data-target="#deleteJobTitleModal"></i>
                    </div>
                  </div>
                </button>
            </div>
          </ng-container>
        </div>
    </div> -->
  
  </div>
</div>


  
  <!-- DeleteJobTitle Modal -->
  <!-- Might be moved to it's own component -->
  <div class="modal" tabindex="-1" role="dialog" id="deleteJobTitleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:150%">
        <div class="modal-header" style="border-bottom: none; height: 2rem;">
          <h5 class="title">Are you sure you want to delete this job title?</h5>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-primary btn-fte-toolbar" (click)="onDeleteJobTitleClick(jobTitleID)">OK</button>&nbsp;
          <button type="button" class="btn btn-primary btn-fte-toolbar" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;Cancel</button>
        </div>
      </div>
    </div>
  </div>
