
<!-- top nav component -->
<app-top-nav></app-top-nav>

<!-- side nav component -->
<app-side-nav></app-side-nav>

<!-- confirm modal component -->
<app-confirm-modal (confirmYesClick)="onConfirmYesClick()" (confirmCancelClick)="onConfirmCancelClick()"></app-confirm-modal>

<!-- temp page content for testing routes -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-title">
        Team FTE Entry Page
      </div>
    </div>
  </div>
</div>
