<div class="container-fluid">
  <!-- row for project selector -->
  <div class="row row-matplan">
    <div class="project-selector">
      <input class="form-control typeahead" type="search" placeholder="Enter a Project (ie, G-Max)" appAutofocus>
    </div>
  </div>

  <br />
  <div class="row row-custom" *ngIf="selectedProject">
    <h3>Build Schedule for {{selectedProject.ProjectName}}</h3>
  </div>

  <div class="row row-custom" *ngIf="selectedProject">
    <button class="btn btn-secondary" (click)="addBuildToSchedule()">Add Build</button>
    <button class="btn btn-success" (click)="onBuildScheduleSave()">Save</button>
    <button class="btn btn-secondary" (click)="testForm()">test</button>
  </div>

  <!-- row for list of matplans -->
  <div class="row" *ngIf="selectedProject">
    <div class="col col-sm">
      <form [formGroup]="buildScheduleForm">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Build Name</th>
              <th>Build Date</th>
              <th>Build Qty</th>
              <th>Has Matplan</th>
              <th>Matplan Last Updated</th>
              <th>Matplan Updated By</th>
              <th>Modify Matplan</th>
            </tr>
          </thead>
          <tbody formArrayName="buildScheduleArray">
            <tr *ngFor="let schedule of buildScheduleForm.get('buildScheduleArray').controls; let i = index">
              <ng-container [formGroupName]="i">
                <td class="table-text"><i class="fa fa-trash-o"></i></td>
                <td>
                  <select class="form-control" formControlName="buildStatusID">
                    <option *ngFor="let bs of buildStatusList" [ngValue]="bs.buildStatusID">{{bs.buildStatusName}}</option>
                  </select>
                </td>
                <td><input class="form-control" type="date" formControlName="needByDate"></td>
                <td><input class="form-control" type="text" formControlName="neededQuantity"></td>
                <td class="table-text">{{schedule.get('hasMatplan').value}}</td>
                <td class="table-text">{{schedule.get('matplanUpdateDate').value | date}}</td>
                <td class="table-text">{{schedule.get('matplanUpdatedByName').value}}</td>
                <td class="table-text">
                  <button class="btn btn-success btn-table" *ngIf="schedule.get('materialPlanID').value === null" (click)="createMatplan(schedule)"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create</button>
                  <button class="btn btn-info btn-table" *ngIf="schedule.get('materialPlanID').value !== null" (click)="editMatplan(schedule)"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>