.typeahead {
  width: 380px;
}

.row-matplan {
  margin-bottom: 5px;
}

.table-text {
  vertical-align: middle;
}

.fa-trash-o {
  font-size: 18px;
}

.fa-trash-o:hover {
  color: red;
  cursor: pointer;
}

.h3 {
  margin-bottom: unset;
}

.btn-table {
  width: 75px;
  height: 28px;
  padding: 0px;
}

tbody td {
  padding: 6px 10px;
}