
#d3-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
}

#d3-container > svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.toolbar {
  position: absolute;
  left: 20px;
  top: 10px;
  /* margin-left: 20px; */
}