  <!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true" data-dismiss="modal">
  <div class="modal-dialog cascading-modal modal-avatar" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive">
      </div>

      <h4 class="mt-1 mb-2 text-center">{{ userName }}</h4>
      
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="formGroupJobTitle">Job Title</label>
            <select class="custom-select" [disabled]="!editToggle" id="formGroupJobTitle" (change)="selectJobTitleChangeHandler($event)">
              <option>Select a Job Title...</option>
              <option *ngFor="let list of jobTitles" [selected]="list.jobTitleName == jobTitleName">{{list.jobTitleName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="formGroupJobSubtitle">Job Subtitle</label>
            <select class="custom-select" [disabled]="!editToggle" (change)="selectJobSubTitleChangeHandler($event)">
              <option selected>Select a Job Subtitle...</option>
              <option *ngFor="let list of jobSubTitleList" [selected]="list.jobSubTitleName == jobSubTitleName">{{list.jobSubTitleName}}</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="onEditButtonClick()">Edit</button>
        <button type="button" class="btn btn-light" (click)="onUpdateButtonClick()" >Update</button>
      </div>
  
    </div>
  </div>
</div>
