.bom-selector {
  position: absolute;
  top: 90px;
  left: 220px;
  z-index: 1;
}

#d3-container {
  height: 90vh;
  width: 88vw;
  margin-left: -65px;
  margin-top: -40px;
  margin-bottom: -150px;
}

.bill-searchbox {
  width: 360px;
}

.list-group-item {
  padding: 6px 10px;
}