
div.dashboard-notifications-col {
  background-color: white;
  /* min-height: 200px;
  max-height: 400px;
  overflow-y: auto; */
}

div.col-dashboard {
  padding-left: 0;
  padding-right: 0;
}

div.col-dashboard.left-half {
  padding-left: 0;
  padding-right: 20px;
}

div.col-dashboard.right-half {
  padding-left: 20px;
  padding-right: 0;
}

text.highcharts-title {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 500;
}

/* .highcharts-title {
  fill: #434348;
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: 3em;
} */

div.fte-progress {
  background-color: white;
  height: 250px;
}

div.fte-progress-cont {
  position: absolute;
  top: 265px;
  height: 150px;
  margin: 0 65px 0 50px;
  overflow-y: auto;
}

div.fte-progress-incomplete {
  margin-top: 10px;
}

div.dashboard-notifications-cont {
  padding: 20px;
}

div.dashboard-header-cont {
  border-bottom: 1px solid rgb(178, 178, 178);
}

div.notifications-header-text {
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

i.nc-icon.messages-icon {
  font-size: 22px;
}

div.dashboard-notifications {
  overflow-y: auto;
  min-height: 100px;
  max-height: 300px;
  margin-top: 15px;
}

span.fte-progress-text {
  font-weight: 500;
  margin-right: 10px;
}



/* notifications table */

tr.dashboard-notifications-table-row:last-child  {
  border-bottom: 1px solid rgb(222, 226, 230);
}

td.dashboard-notifications-type-icon-cell {
  width: 50px;
  vertical-align: middle;
}

i.notification-type-icon {
  font-size: 24px;
  /* font-weight: 600; */
}

i.notification-type-icon.notify-info {
  color: blue;
}

i.notification-type-icon.notify-alert {
  color: green;
}

i.notification-type-icon.notify-concern {
  color: orange;
}

i.notification-type-icon.notify-warning {
  color: red;
}

td.dashboard-notifications-text-cell {
  font-size: 14px;
  vertical-align: middle;
}

td.dashboard-notifications-dismiss-icon-cell {
  width: 50px;
  text-align: right;
  vertical-align: middle;
}

i.fa.notification-dismiss-icon {
  font-size: 19px;
  color: grey;
}

i.fa.notification-dismiss-icon:hover {
  color: darkred;
  cursor: pointer;
}