
/* outer container */

div.projects-roster-modal-outer-cont {
  max-height: 500px;
  width: 350px;
  background-color: white;
  z-index: 200;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  padding: 15px 20px;
  /* overflow-y: auto; this will prevent triangle from displaying */
}

/* left or right triangle */

div.projects-roster-modal.dropdown-triangle {
  position: absolute;
  top: 7px;
  left: -8px;
  right: unset;
  width: 16px;
  height: 16px;
  background-color: white;
  z-index: 3;
  transform: rotate(45deg);
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

div.projects-roster-modal.dropdown-triangle-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  width: 16px;
  height: 26px;
  background-color: white;
  z-index: 3;
}

/* close button */

a.projects-roster-modal.close-button {
  display: block;
  color: blue;
  cursor: pointer;
}

div.projects-roster-project-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px
}

p.projects-roster-subtitle {
  font-size: 15px;
}

p.projects-roster-subtitle.subtitle1 {
  margin-bottom: 0px;
}

.projects-roster-modal-team-members {
  overflow-y: auto;
  max-height: 375px;
}

div.projects-roster-modal-team-member {
  border-bottom: 1px solid lightgrey;
  padding: 5px 0;
}

div.projects-roster-modal-team-member:first-child {
  border-top: 1px solid lightgrey;
}

td.projects-roster-team-member-icon-cell {
  padding-right: 8px;
  vertical-align: middle;
}

i.projects-roster-team-member-icon {
  font-size: 20px;
  color: rgb(136, 136, 136);
}

td.projects-roster-team-member-name-cell {
  padding: 0 8px;
  font-weight: 500;
}

td.projects-roster-team-member-jobtitle-cell {
  padding: 0 8px;
}