
<div class="projects-roster-modal-outer-cont" (clickOutside)="onClickedOutside($event)">

  <div *ngIf="showRosterContents" class="projects-roster-modal-inner-cont">

    <div class="projects-roster-project-name">
      {{ projectRoster?.projectName }}
    </div>

    <div class="projects-roster-header">
      <p class="projects-roster-subtitle subtitle1">Team Roster</p>
      <p class="projects-roster-subtitle subtitle2">{{ numTeamMembers ? numTeamMembers : 'No' }} Team Members</p>
    </div>

    <div *ngIf="projectHasMembers" class="projects-roster-modal-team-members">
      <div class="projects-roster-modal-team-member" *ngFor="let teamMember of projectRoster.teamMembers">
        <table>
          <tr>
            <td class="projects-roster-team-member-icon-cell" rowspan="2"><i class="projects-roster-team-member-icon nc-icon nc-circle-10"></i></td>
            <td class="projects-roster-team-member-name-cell" >{{ teamMember.name }}</td>
          </tr>
          <tr>
            <td class="projects-roster-team-member-jobtitle-cell" >{{ teamMember.jobTitle }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="projects-roster-modal dropdown-triangle"></div>
    <div class="projects-roster-modal dropdown-triangle-cover"></div>

  </div>
  

</div>