<div class="row button-toolbar">
  <button class="btn btn-success" (click)="onMatplanSave()">Save</button>
  <button class="btn btn-secondary" (click)="testForm()">test</button>
</div>

<div class="row">
  <div class="col-sm">
    <form [formGroup]="orderForm">
      <table class="table table-sm">
        <thead>
          <tr>
            <th class="qty">Level:</th>
            <th>Name:</th>
            <!-- <th>Description:</th> -->
            <th>Supplier:</th>
            <th class="short-text">MFG PN:</th>
            <th class="qty">MOQ:</th>
            <th class="money">Price:</th>
            <th class="money">NRE:</th>
            <th class="qty">LT (wks):</th>
            <th class="qty">Qty Per:</th>
            <th class="qty">Qty Needed</th>
            <th class="qty">Qty Ordered:</th>
            <th class="money">Total Cost:</th>
            <th>Purchase Method:</th>
            <th class="med-text">Order Number:</th>
            <th class="date">Order Date:</th>
            <th class="date">Due Date:</th>
            <th class="date">Receive Date:</th>
            <th class="qty">Receive Qty:</th>
            <th>Deliver To:</th>
          </tr>
        </thead>
        <tbody formArrayName="orderFormArray">
          <tr *ngFor="let order of orderForm.get('orderFormArray').controls; let i = index;">
            <ng-container [formGroupName]="i">
              <td>{{order.get('level').value}}</td>
              <td>{{order.get('partName').value}}</td>
              <!-- <td>{{order.get('partDescription').value}}</td> -->
              <td><button class="btn" [ngClass]="order.get('supplierName').value ? 'btn-outline-success' : 'btn-outline-secondary'" (click)="editSupplier(order)">{{order.get('supplierName').value ? order.get('supplierName').value : 'Choose'}}</button></td>
              <td>{{order.get('mfgPartNumber').value}}</td>
              <td>{{order.get('minOrderQty').value}}</td>              
              <td>{{order.get('price').value | currency}}</td>
              <td>{{order.get('nreCharge').value | currency}}</td>
              <td>{{order.get('leadTime').value}}</td>
              <td>{{order.get('qtyPer').value}}</td>
              <td>{{order.get('qtyNeeded').value}}</td>
              <td><input class="form-control" [attr.disabled]="order.get('supplierID').value === null ? 'disabled' : null" type="text" formControlName="orderQty" (blur)="calculatePrice(order)"></td>
              <td>{{order.get('totalCost').value | currency}}</td>
              <td>
                <select class="form-control" [attr.disabled]="order.get('supplierID').value === null ? 'disabled' : null" formControlName="purchaseMethodID">
                  <option *ngFor="let pm of purchaseMethods" [ngValue]="pm.purchaseMethodID">{{pm.purchaseMethodName}}</option>
                </select>
              </td>
              <td><input class="form-control" [attr.disabled]="order.get('supplierID').value === null ? 'disabled' : null" type="text" formControlName="purchaseOrderNumber"></td>
              <td><input class="form-control" [attr.disabled]="order.get('supplierID').value === null ? 'disabled' : null" type="date" formControlName="orderDate"></td>
              <td><input class="form-control" [attr.disabled]="order.get('supplierID').value === null ? 'disabled' : null" type="date" formControlName="dueDate"></td>
              <td><input class="form-control" [attr.disabled]="order.get('supplierID').value === null ? 'disabled' : null" type="date" formControlName="dateReceived"></td>
              <td><input class="form-control" [attr.disabled]="order.get('supplierID').value === null ? 'disabled' : null" type="text" formControlName="qtyReceived"></td>
              <td><input class="form-control" [attr.disabled]="order.get('supplierID').value === null ? 'disabled' : null" type="text" formControlName="deliverTo"></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

</div>




<!-- bootstrap modal for select supplier -->
<div class="modal fade" id="supplierModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Supplier:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngFor="let quote of quotes">
          <div class="card">
            <div class="card-header">
              {{quote.supplierName}} - {{quote.mfgPartNumber}}
              <button class="btn btn-outline-secondary choose-supplier-button" (click)="chooseSupplier(quote)">Select</button>
            </div>
            <div class="card-body">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>MOQ:</th>
                    <th>Price:</th>
                    <th>NRE:</th>
                    <th>LT (wks):</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let break of quote.breaks">
                    <td>{{break.minOrderQty}}</td>
                    <td>{{break.price}}</td>
                    <td>{{break.nreCharge}}</td>
                    <td>{{break.leadTime}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
