/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$nc-bowling-pins: unicode(ea02);
$nc-a-check: unicode(ea03);
$nc-a-edit: unicode(ea01);
$nc-archery-target: unicode(ea04);
$nc-archive-check: unicode(ea05);
$nc-b-security: unicode(ea06);
$nc-badge: unicode(ea07);
$nc-bars-rotate: unicode(ea08);
$nc-board-28: unicode(ea09);
$nc-board-29: unicode(ea0a);
$nc-book-open-2: unicode(ea0b);
$nc-bulb-63: unicode(ea0c);
$nc-calendar-add: unicode(ea0d);
$nc-chart-bar-33: unicode(ea0e);
$nc-chat-round-content: unicode(ea0f);
$nc-circle-10: unicode(ea10);
$nc-code-editor: unicode(ea11);
$nc-dashboard-half: unicode(ea12);
$nc-dots-06: unicode(ea13);
$nc-dots-07: unicode(ea14);
$nc-filter-organization: unicode(ea15);
$nc-gantt: unicode(ea16);
$nc-hierarchy-53: unicode(ea17);
$nc-hotel: unicode(ea18);
$nc-keyboard-wireless: unicode(ea19);
$nc-keyboard: unicode(ea1a);
$nc-l-security: unicode(ea1b);
$nc-lab: unicode(ea1c);
$nc-light-traffic: unicode(ea1d);
$nc-lock-2: unicode(ea1e);
$nc-lock: unicode(ea1f);
$nc-microcircuit: unicode(ea20);
$nc-microscope: unicode(ea21);
$nc-money-11: unicode(ea22);
$nc-money-coins: unicode(ea23);
$nc-opening-times: unicode(ea24);
$nc-priority-high-2: unicode(ea25);
$nc-priority-high: unicode(ea26);
$nc-privacy-policy-2: unicode(ea27);
$nc-pulse-phone: unicode(ea28);
$nc-ram: unicode(ea29);
$nc-settings-91: unicode(ea2a);
$nc-settings: unicode(ea2b);
$nc-sign-closed: unicode(ea2c);
$nc-single-05: unicode(ea2d);
$nc-small-remove: unicode(ea2e);
$nc-socket-europe-1: unicode(ea2f);
$nc-socket: unicode(ea30);
$nc-tag-content: unicode(ea31);
$nc-time-clock: unicode(ea32);
$nc-time-countdown: unicode(ea33);

.nc-bowling-pins::before {
  content: $nc-bowling-pins;
}

.nc-a-check::before {
  content: $nc-a-check;
}

.nc-a-edit::before {
  content: $nc-a-edit;
}

.nc-archery-target::before {
  content: $nc-archery-target;
}

.nc-archive-check::before {
  content: $nc-archive-check;
}

.nc-b-security::before {
  content: $nc-b-security;
}

.nc-badge::before {
  content: $nc-badge;
}

.nc-bars-rotate::before {
  content: $nc-bars-rotate;
}

.nc-board-28::before {
  content: $nc-board-28;
}

.nc-board-29::before {
  content: $nc-board-29;
}

.nc-book-open-2::before {
  content: $nc-book-open-2;
}

.nc-bulb-63::before {
  content: $nc-bulb-63;
}

.nc-calendar-add::before {
  content: $nc-calendar-add;
}

.nc-chart-bar-33::before {
  content: $nc-chart-bar-33;
}

.nc-chat-round-content::before {
  content: $nc-chat-round-content;
}

.nc-circle-10::before {
  content: $nc-circle-10;
}

.nc-code-editor::before {
  content: $nc-code-editor;
}

.nc-dashboard-half::before {
  content: $nc-dashboard-half;
}

.nc-dots-06::before {
  content: $nc-dots-06;
}

.nc-dots-07::before {
  content: $nc-dots-07;
}

.nc-filter-organization::before {
  content: $nc-filter-organization;
}

.nc-gantt::before {
  content: $nc-gantt;
}

.nc-hierarchy-53::before {
  content: $nc-hierarchy-53;
}

.nc-hotel::before {
  content: $nc-hotel;
}

.nc-keyboard-wireless::before {
  content: $nc-keyboard-wireless;
}

.nc-keyboard::before {
  content: $nc-keyboard;
}

.nc-l-security::before {
  content: $nc-l-security;
}

.nc-lab::before {
  content: $nc-lab;
}

.nc-light-traffic::before {
  content: $nc-light-traffic;
}

.nc-lock-2::before {
  content: $nc-lock-2;
}

.nc-lock::before {
  content: $nc-lock;
}

.nc-microcircuit::before {
  content: $nc-microcircuit;
}

.nc-microscope::before {
  content: $nc-microscope;
}

.nc-money-11::before {
  content: $nc-money-11;
}

.nc-money-coins::before {
  content: $nc-money-coins;
}

.nc-opening-times::before {
  content: $nc-opening-times;
}

.nc-priority-high-2::before {
  content: $nc-priority-high-2;
}

.nc-priority-high::before {
  content: $nc-priority-high;
}

.nc-privacy-policy-2::before {
  content: $nc-privacy-policy-2;
}

.nc-pulse-phone::before {
  content: $nc-pulse-phone;
}

.nc-ram::before {
  content: $nc-ram;
}

.nc-settings-91::before {
  content: $nc-settings-91;
}

.nc-settings::before {
  content: $nc-settings;
}

.nc-sign-closed::before {
  content: $nc-sign-closed;
}

.nc-single-05::before {
  content: $nc-single-05;
}

.nc-small-remove::before {
  content: $nc-small-remove;
}

.nc-socket-europe-1::before {
  content: $nc-socket-europe-1;
}

.nc-socket::before {
  content: $nc-socket;
}

.nc-tag-content::before {
  content: $nc-tag-content;
}

.nc-time-clock::before {
  content: $nc-time-clock;
}

.nc-time-countdown::before {
  content: $nc-time-countdown;
}

